[2021-09-19 08:37] rotemtam opened #146 "Make all Extensions Resources"
Here's a question I'm struggling with. Currently we have the "base" `Resource` struct:
### Context
[code]
and the `Extension` interface. Which I suggest in #144 will become:
[code]
The `Resource` struct has two relevant  methods:
[code]

### The problem

The way we are designing the DDL is that a user might describe not-known-beforehand properties on a resource (for instance annotations for anothe

[2021-09-20 10:06] #146 closed, assigned to a8m

[2021-09-28 20:22] rotemtam opened #158 "Support all needed sqlspec elements"
In the context of completing the `sqlspec` extraction out of `schemaspec`, and replacing `sql/schema/schemaspec` with `schema/schemaspec`.

All of the SQL-specific structs are moving and need to be rewritten in terms of the new schemaspec package so we can deprecate the old one. The task is to complete the missing structs (PrimaryKey, ForeignKey, Index). Notice that `Override`s are currently not s

[2021-09-30 09:54] rotemtam opened #164 "Move driver converters to sqlspec package"
Currently the `sql` package drivers (i.e [mysql](https://github.com/ariga/atlas/blob/master/sql/mysql/convert.go)) use the old `schemaspec` package. The task is to replace the existing package with the new one.

Tasks

- [x] Recreate [convert.go](https://github.com/ariga/atlas/blob/master/sql/internal/schemautil/convert.go) under the `sqlspec` package.
- [ ] Update mysql
- [ ] Update postgres
- [

[2021-09-30 19:18] #158 closed, assigned to yonidavidson

[2021-10-27 13:24] #164 closed, assigned to yonidavidson

[2021-11-16 06:57] gedw99 opened #230 "Reasons for using HCL ?"
Quite curious about the potential uses cases with Atlas...

Is one of the reasons for the choice of HCL to do with being able to diff many HCL's and produce new one?

When HCL is used with Terraform, you need a central place for HCL that holds the existing state of the system.

Normally a developer would create a migration script as they work.
Alternatively, they can also diff two datebase's later

[2021-11-18 07:37] a8m commented on #230
Hey @gedw99 and thanks for reaching out.

The underlying schemas specification is "generic" (language agnostic), and HCL was started as a first experiment for implementing it. We plan to provide also support for JSON, SQL, TypeScript, and a Go API for defining the schema as well. You can find more about it on [atlas/schemaspec](https://github.com/ariga/atlas/tree/master/schema/schemaspec).

Altern

[2021-11-19 11:32] gedw99 commented on #230
thanks @a8m

Yeah i am really interested in what Atlas provides, and would love to discuss things and find out more

Telegram:    http://t.me/gedw99

[2021-11-27 08:56] omri85 opened #251 "Add support to ArrayType on Postgres"
My schema contained a table with a field of type ARRAY:
special_features	"ARRAY"  or text[]

When I ran the inspect command:
`atlas.exe schema inspect -d "postgres://postgres:******" >> film.hcl`

I got the following error:
`Error: failed converting schema to spec: failed to convert column type *postgres.ArrayType to spec`.

Just to double check, I cloned my DB, removed the ARRAY field and ran the

[2021-11-27 16:20] antoniogomezalvarado opened #253 "Atlas CLI to give insights before applying changes to FK"
I've followed the tutorial here https://blog.ariga.io/meet-atlas-cli/

Then I went and modified the column type under the `manager_id` field (which is a foreign key) to:

[code]

and ran : `atlas schema apply -d "mysql://root:pass@tcp(localhost:3306)/example" -f atlas.hcl `

got `ALTER TABLE `example`.`users` MODIFY COLUMN `manager_id` varchar(255) NOT NULL ;`

The CLI allows to apply this change

[2021-11-27 23:40] crossworth opened #254 "*postgres.UserDefinedType on Postgres"
Hello, first, I know this project is in the early stages, but I think is great, I see a lot of potential on it, great work.

While trying the `atlas schema inspect` command on a few databases I faced the problem about `*postgres.ArrayType`, but using the master version I was able to run fine, but now I think I have a problem with `hstore`.

The error output is:
`Error: failed converting schema to

[2021-11-28 08:20] a8m commented on #254
Hey @crossworth and thanks for reporting this issue 👋

We're looking at this. I'll update soon.

[2021-11-28 11:31] rotemtam commented on #253
Hey @antoniogomezalvarado !

Great to see you here :-)

Thanks for the feedback. Indeed, in the situation which you describe, it is totally possible to _statically_ check the schema and fail even before the plan is presented.

We are definitely thinking in this direction for Atlas, but it will probably not be out in the next few versions. One of our goals for Atlas is to improve the _safety_ of da

[2021-11-28 11:36] rotemtam commented on #251
Thanks for reporting this @omri85 !
We are working on a patch which will be out in `master` soon and in `v0.1.1` which should be out mid-week.

[2021-11-28 13:43] omri85 commented on #251
Thank @rotemtam !
Looking forward to manage my schema with the tool.

[2021-11-28 19:41] yonidavidson commented on #254
Hi @crossworth, please check our latest release https://github.com/ariga/atlas/releases/tag/v0.1.1 that includes support for custom types.

[2021-11-28 19:42] yonidavidson commented on #251
Hi @omri85, please check our latest release https://github.com/ariga/atlas/releases/tag/v0.1.1 that includes support for array types.

[2021-11-28 19:50] crossworth commented on #254
Hello @yonidavidson, thank you!

[2021-11-28 19:50] #254 closed

[2021-11-28 21:38] omri85 commented on #251
I checked it out and it looks great, worked for me!
Thanks.

[2021-11-28 21:43] omri85 commented on #251
Resolved on version 0.1.1

[2021-11-28 21:43] #251 closed

[2021-11-28 21:44] omri85 commented on #251
Resolved on version 0.1.1

[2021-12-01 07:12] a8m commented on #230
Hey @gedw99 and sorry for the delay. Let's continue the discussion on Slack.

[2021-12-01 07:12] #230 closed

[2021-12-01 13:52] gedw99 commented on #230
No probs . Yep see you there sometime

[2021-12-29 04:10] taofei-pro opened #347 "InspectOptions.Tables doesn't work"

[2022-01-11 10:58] masseelch opened #392 "Roundtrip should not prorpose changes"
I ran `atlas schema inspect -d "<dsn>" > atlas.hcl`, immediately followed by `atlas schema apply -d "<dsn>" -f atlas.hcl` and the tool wanted to run some changes on my DB.

Example of the generated SQL commands:

[code]

MySQL 5.7

[2022-01-19 07:39] int-2147483647 opened #440 "Windows installation issues"
Hi,
First of all, great project. Excited to see where it goes.

My issues with the Windows installation:
1. Running `curl -LO https://release.ariga.io/atlas/atlas-windows-amd64-v0.3.0.exe` on Windows 10 and higher does not work because `curl` is an alias to PowerShell's `Invoke-WebRequest` cmdlet and it doesn't have the `-L` flag.
2. Downloading `https://release.ariga.io/atlas/atlas-windows-amd64-

[2022-01-19 14:36] rotemtam commented on #440
Hi @int-2147483647,

Thanks so much for trying Atlas and reaching out!

We are actively working on fixing code signing so the onboarding process doesn't have this kind of friction.
I don't want to make promises but I hope that the next patch release (v0.3.1) that should be out tomorrow will have this.

[2022-01-20 09:08] yonidavidson commented on #440
@int-2147483647 Hi, do you have any recommendations for the distribution of the CLI in windows? I looked at  https://scoop.sh/, and some CLI's are distributed as MSI.

Do you have some experience with creating such releases? I would like to hear your thoughts.

[2022-01-20 09:35] int-2147483647 commented on #440
Hi, @yonidavidson
TBH I don't have personal experience with distributing a CLI but for comparison, I would follow Azures steps on how to install Terraform (https://tinyurl.com/57mtbxej)

1. Download Terraform - A zip file containing the executable. It is important to call the executable **atlas**.
2. Extract the executable to a specific folder that will be added to PATH.
3. Update the PATH environ

[2022-01-20 09:41] yonidavidson commented on #440
Thanks, @int-2147483647 for your great insights.
I will also handle the publisher registration process soon.

[2022-01-20 11:09] int-2147483647 commented on #440
@yonidavidson I just realized that you can also use Powershell.
`Invoke-WebRequest -Uri https://release.ariga.io/atlas/atlas-windows-amd64-v0.3.0.exe -OutFile atlas.exe`

But it is important that the `OutFile` will be in directory that is in %path%

[2022-01-21 08:29] #347 closed

[2022-01-23 02:43] cthackers opened #457 "Postgres schema selection"
Hi,
Is there a way to define what schema I want it to inspect/migrate ?
From [here](https://github.com/ariga/atlas/blob/11ba264cfa606ce987375e0a08e7888e40711475/cmd/action/mux.go#L93) it seems is hardcoded to only use `public` schema. The project I'm working on uses 3 different schemas and `public` is not used at all. Running inspect on my database gives me an empty result.

[2022-01-23 04:04] chenrui333 opened #458 "The version set does not quite work"
I tried to build from the source, but could not get the version working.

### how to reproduce

- untar `https://github.com/ariga/atlas/archive/refs/tags/v0.3.1.tar.gz`
- run `go build -ldflags="ariga.io/atlas/cmd/action.version=0.3.1" ./cmd/atlas`
- got `-development` when running `atlas version`

### build log as below
[code]

[2022-01-23 10:41] rotemtam commented on #458
hey @chenrui333 ,

Thanks for reaching out!

Looking at the source code:
https://github.com/ariga/atlas/blob/819b96ff228bfcc095bc4798aa15e5a7642546fe/cmd/action/version.go#L31

The version command expects the version to be a valid semvar string (as defined by [the std lib semver package](https://cs.opensource.google/go/x/mod/+/refs/tags/v0.5.1:semver/semver.go;l=174)), meaning it should start with

[2022-01-23 10:41] #458 closed

[2022-01-23 11:53] CGA1123 commented on #457
@cthackers I wonder whether a patch like this fixes your issue? https://github.com/cga1123/atlas/commit/50991749f48dccbbd073c405dac91e4697f18a1a

[2022-01-23 13:05] kokizzu opened #464 "-f didn't work"
the [docs](https://atlasgo.io/ui/intro) on "Management UI" section said:
[code]

but when executed:
[code]

version:
[code]

[2022-01-23 13:11] kokizzu opened #465 "web super slow to spawn, no auto-retry, no progress bar?"
version:
[code]

because the database in RDS, it usually took 5s to execute any command from Indonesia (My PC) to US (RDS):

[code]

there's about only 50 tables there.

took a while (like 5 minutes?) before the web spawned, but after spawned, got loading for about a minute, then it shows:

[code]

[2022-01-23 14:10] rotemtam commented on #464
Hi @kokizzu ,
Thanks for reaching out.
Copy pasting your snippet on my local Mac works:
[code]

A few more diagnostic questions:

* What OS are you using?
* Are you able to use `atlas schema apply` without the `-w` flag?
* Did you download Atlas from the CDN or compile on your own?
Thanks

[2022-01-23 14:13] rotemtam commented on #392
@masseelch,

What's the status of this issue? Still relevant or fixed with recent improvements to the engine?

[2022-01-23 14:13] kokizzu commented on #464
ah right, i was running wrong command parameter XD `atlas schema inspect`

[2022-01-23 14:13] #464 closed

[2022-01-23 14:18] rotemtam commented on #465
hi @kokizzu,

Thanks for reaching out. There's indeed a lot more we can do in cases where the connection is slow / inspection takes a long time. Is there any chance you can share you schema with us or help us reproduce this case otherwise?

In case sharing it over GitHub is suboptimal, (and in any case) you are invited to join our [Discord server](https://discord.com/invite/QhsmBAWzrC)

[2022-01-23 14:19] a8m commented on #457
CGA1123@5099174 looks great to me.

cc @rotemtam, @yonidavidson

[2022-01-23 14:25] kokizzu commented on #465
i think this one just slow, can't share the schema because it's my office's work NDA

[2022-01-23 14:26] rotemtam commented on #457
hey @CGA1123 ,
that looks great, do you mind sending a PR so we can add it to the next version?

[2022-01-23 14:30] rotemtam commented on #465
Sure, I completely understand. Still if you want to join our discord channel and try to help me reproduce the issue you will be very welcome, we're building a great community here :-)

[2022-01-23 14:44] CGA1123 commented on #457
Yep can roll it into a PR this evening, unless you want to cherry pick yourself earlier?

[2022-01-23 15:49] rotemtam commented on #457
No rush, when you have the time :-)

[2022-01-23 16:22] shaunakv1 opened #469 "Support for PostGIS SQL Types"
Hello, and thanks for putting together a great tool!

Is there support planned for [PostGIS SQL Types](https://postgis.net/docs/using_postgis_dbmanagement.html) for Postgres?

A significant portion of PostgreSQL users use PostGIS, including us. And I think this tool can add significant value given is simplicity and ability to read existing schemas.

[2022-01-23 18:11] chenrui333 commented on #458
I see, let me give a shot.

[2022-01-23 18:12] chenrui333 commented on #458
Yeah, it works, thanks!

[2022-01-23 23:21] mindbergh opened #471 "Support schema inspect for Mysql table with column "Timestamp/Datetime default on update""
We have a column that is in Datetime type and has the [default on update definition](https://dev.mysql.com/doc/refman/5.7/en/timestamp-initialization.html). For example:

[code]

When I try to inspect the schema, I got the following error:
[code]

Mysql version: 5.7.35

Atlas version:
[code]

[2022-01-24 00:57] mindbergh opened #472 "Support schema apply for Mysql table with column "Timestamp/Datetime default with on update""
The `schema apply` doesn't seem to support datetime/timestamp columns that have default and on update with SQL expression:

For example, with the following schema hcl:

[code]

[code]

There are two problems:
1. `CURRENT_TIMESTAMP(6)` shouldn't be quoted as a string.
2. OnUpdate part shouldn't be omitted

If this is actually supported, what's the correct way to define it in hcl? The document doesn

[2022-01-24 06:25] #457 closed

[2022-01-24 06:57] masseelch commented on #471
Hey @mindbergh, thank you for reaching out to us and reporting this. I will have a look at this :-)

[2022-01-24 14:26] masseelch commented on #471
@mindbergh Please try the latest master and let me know if there still is an issue.

[2022-01-24 15:59] masseelch commented on #472
Hey @mindbergh, thanks for reaching out to us.

This is not supported right now, but I will add it. Inspection should already work.

[2022-01-24 16:56] rotemtam commented on #469
Hey @shaunakv1
Thanks for reaching out!

Yes, PostGIS is super useful and widespread. I've used it myself for geo spatial applications.
Im OOO for the day, but I will respond tomorrow

[2022-01-24 22:48] glacials opened #485 "Fails to run on Ubuntu 18.04"
I'm trying to run Atlas on Ubuntu 18.04 and I'm getting this error after following the [Linux setup instructions](https://atlasgo.io/cli/getting-started/setting-up):

[code]

System version info:
[code]

My glibc:
[code]

[2022-01-24 23:25] mindbergh commented on #471
Thanks for the quick fix, it works now. I'm able to inspect the column for the default current_timestamp(6). But it still doesn't give the `on update current_timestamp(6)` attribute. I guess it will be addressed together in #472?

[2022-01-25 08:15] masseelch commented on #471
@mindbergh An oversight on my sight. I'll add the field to the rendered HCL.

[2022-01-25 10:19] masseelch commented on #471
@mindbergh I just added the `on_update` field to the column definition in HCL. Closing again, but please let me know if there are more issues.

[2022-01-25 10:19] #471 closed

[2022-01-25 13:25] masseelch commented on #472
Hey @mindbergh, me again :smile:

You can now define timestamp types with default values and on update behavior like this:

[code]

Please let me know if this fixes the issue for you and don't hesitate to contact us again if you have further questions or problems. Feel also free to join our [discord](https://discord.com/invite/QhsmBAWzrC).

[2022-01-25 17:38] masseelch commented on #392
Still relevant. There are a bunch of changes proposed by the engine that essentially do nothing. Looks like they only affect boolean types (`tinyint`).

[2022-01-25 23:32] mindbergh commented on #472
The on_update works well. However, timestamp/datetime precision is omitted in the generated plan. i.e. even if I specify `type = datetime(6)` or `type = datetime(6)`. The generated SQL DDL statement only has `timestamp` or `datetime` as the type (the expected behavior should be `timestamp(6)` or `datetime(6)`.

[code]

[code]

[2022-01-26 15:01] yonidavidson commented on #485
Hi @glacials , this is related to the version of ubuntu you are using (18.04).
Are you planning on upgrading to version 20.04? if not, is there a possibility to run in a docker container?

[2022-01-26 15:56] jezell opened #500 "Support for Covering Indexes"
The docs seem to imply that indexes can include columns, but I don't see a way to use covering indexes, which we use a lot.

Maybe the DDL for indexes could be extended with a second column list "storing" or something of the sort?

Atlas looks great.

[2022-01-26 15:57] jezell opened #501 "Support for Inverted Indexes"
Don't see a way to create something like an inverted index in the docs, perhaps the DDL could be extended with an optional index type?

[2022-01-26 17:47] glacials commented on #485
Either of those would work fine for me but I'm evaluating Atlas for my org, which by default runs on 18.04. I'm trying to fix that in parallel, but it will be slower going 😅 Docker is a possibility but probably not worth it for us atm.

Don't bend over backwards to fix this, I just figured I'd report the bug!

[2022-01-26 17:53] rotemtam commented on #485
hey @glacials !
Thanks a lot for reporting this. I'm really interested in hearing your thoughts on how Atlas would fit in your organization and what you would need to make that happen.

Is there some way I can reach out to you to hear your thoughts?

[2022-01-26 17:54] rotemtam commented on #485
If it works for you, join us on our Discord server:

https://discord.com/invite/QhsmBAWzrC

🙏

[2022-01-27 11:45] fenos opened #510 "Multiple definition files"
Hello, Awesome work with atlas!

I was wondering if you guys could consider the possibility of splitting the schema into multiple `.atlas.hcl` files and use a glob like syntax in the cli, or have a master file that we can import other files.

This would help organising the tables and definitions in a neater way

[2022-01-27 11:56] masseelch commented on #510
Hey @fenos, thank you very much for your kind words and for reaching out to us.

I think that supporting to split the HCL definitions into multiple files is a good idea and that we should support it soon.

I'll discuss how to tackle this best and will provide to you a design proposal to evaluate with your use case. Is this okay with you? If you have some design ideas already, feel free to share th

[2022-01-27 12:28] a8m commented on #501
Hey @jezell and thanks for opening this issue. Descending indexes are almost done, and I plan to add this to the documentation soon. I added a new form to allow defining more complex indexes.

[code]

[2022-01-27 12:37] a8m commented on #500
Hey (again) @jezell 😃
Do you mean PostgreSQL "Covering Indexes"? https://www.postgresql.org/docs/current/indexes-index-only-scans.html
Specifically, the `INCLUDE` clause. If so, it can be added to the new form suggested in https://github.com/ariga/atlas/issues/501#issuecomment-1023156681.

If not, can you elaborate or provide some links?

[2022-01-27 18:10] JoeyMckenzie commented on #510
+1 for this. Coming from Prisma, the same issue exists there and was solved with simple JS command tools to aggregate the partial schema files into the main `schema.prisma` file that it ultimate looks for. Been working on a side/learning project using atlas and wanted this same functionality, so I ended up implementing [my own file merging process (just a simple Go program)](https://github.com/Joe

[2022-01-27 19:15] JoeyMckenzie opened #517 "Add auto increment with identity option for Postgres"
After scouring issues and the docs, there does not seem to be an option for auto-incrementing PK identity columns. Take for example the following table:

[code]

Once applied, running `atlas schema inspect -d "postgres://some:user@someserver/somedatabase"` returns the following HCL:

[code]

Dropping the table and re-applying the schema via an `atlas schema apply` re-creates the table, but without

[2022-01-27 20:35] ericyd opened #518 "Add option to connect to database without SSL (fix "SSL is not enabled on the server" error)"
**Type**

Bug

**System**

OS: Mac OSX 11.6.3
DB: Postgres 12.8

**Details**

Installation went smoothly, but when I tried to inspect my existing local DB schema, I got an error

[code]

A quick search led me to [this SO answer](https://stackoverflow.com/a/30787336/3991555).

It appears that Atlas is attempting to connect with the raw DSN, without specifying an SSL mode (it appears the SSL is enab

[2022-01-27 20:47] ericyd opened #519 "Add "auto approve" option to `schema apply` command"
**Type**

Feature request

**Background**

My interest in Atlas is to streamline our CI flow. We currently prepare a database in our CI environment and run migrations sequentially before our tests run. This takes about 25-30 seconds whereas `atlas schema apply` takes a fraction of a second. However, for this to work in a CI environment, there needs to be a command line option to "auto-approve" the

[2022-01-27 20:50] crossworth commented on #518
Hello, if you don't mind my opinion, I dont think `atlas` should have a flag for it.

The way it works right now is very simple and standardized on the GO comunity, each driver can have it own set of options and will parse it from the DSN.

By creating a flag would mean that `atlas` should know all the flags for each driver to be able to generate the correct DSN.

[2022-01-27 20:55] a8m commented on #517
Hey @JoeyMckenzie and thanks for opening this issue.
Actually, both `AUTO_INCREMENT` (MySQL and SQLite) and `IDENTITY` (PostgreSQL) are supported by the core engine (inspect, diff and plan/apply). However, we didn't connect it yet to the atlas DDL (HCL document). I plan to support this later this week. There are additional parts that are missing in atlas DDL.

[2022-01-27 21:00] ericyd opened #520 "Capture database extensions (e.g. pgcrypto) with `inspect`"
**Type**

Bug

**System**

OS: Mac OSX 11.6.3
DB: Postgres 12.8

**Details**

`atlas schema inspect` does not capture database extensions. These are necessary for accurate replication of the database state. (Note: I'm not sure if non-Postgres DBs call these features "extensions" but hopefully the example below makes it clear)

Example: `pgcrypto` is a database extension which exposes various crypt

[2022-01-27 21:03] a8m commented on #518
Hey @ericyd, and thanks for suggesting how to improve atlas.
I actually agree with @crossworth, and not sure why a flag is preferred over a query param?

btw @crossworth, ent community members are always welcome here 😃

[2022-01-27 21:12] a8m commented on #519
Hey hey @ericyd 👋

cc'ing @rotemtam and @yonidavidson as they wanted to add this, and they can help you contribute this change to atlas if you like (should be pretty simple). Thanks 🙏

[2022-01-27 21:15] rotemtam commented on #519
hey @ericyd ,

thanks for the feedback!

I would love to see this added to the `schema apply` command. It should be a quick fix, if you would like to contribute to the project, this can be a great start! If so, ping me on our discord server.  Otherwise we will probably add it in next week's release.

In the meantime, you can do something like:
[code]

[2022-01-27 21:26] JoeyMckenzie commented on #517
Good to know, was reading through past PRs and saw that the functionality is there, just hasn't been hooked up to DDL yet. Thank you, eagerly awaiting this release!

[2022-01-27 22:43] ericyd commented on #519
seems like a very promising project, I'm excited about the work that has already been put in. I'll try to make time tomorrow to pursue a fix and I'll reach out on Discord before I do

[2022-01-27 22:57] ericyd commented on #518
Hello 👋🏻

Thanks for the replies.

While this tool is built with Go, I'm not compelled by the argument that the CLI usage should be beholden to the standards in the Go community. Atlas is distributed as a cross-platform binary, not a library.

I have personally never had to specify `?sslmode=disable` when connecting to a database - ever. This goes for ORMs as well as SQL clients like [TablesPlus](

[2022-01-28 09:06] masseelch commented on #392
Fixed in #493

[2022-01-28 09:06] #392 closed

[2022-01-28 09:21] rotemtam commented on #519
That's great! Looking forward to working on this with you

[2022-01-28 13:50] #472 closed

[2022-01-28 14:45] kilianstallz commented on #517
Would really appreciate this feature for my current project!

[2022-01-29 01:42] ivanvanderbyl opened #527 "Support for partial indexes?"
We have a use case (Using Ent) where we have two optional edges which are mutually exclusive, yet need unique indexes. We are currently creating these indexes using custom SQL migrations in with https://github.com/rubenv/sql-migrate, but we'd like to move to Atlas.

Example:

[code]

Indexes that we want to handle in Atlas:

[code]

[2022-01-29 16:12] rotemtam commented on #520
hey @ericyd,
Thanks for taking the time to document this issue thoroughly!
It's definitely something we want to support in the coming versions.

Out of curiosity, do you have an idea of what the HCL API should look like for this?

[2022-01-29 22:13] ericyd commented on #520
I don't have any immediate ideas. Extensions (at least in Postgres) are global to the database, not specific to a schema. So, perhaps it will be necessary to add a new key to the HCL file named `realm` or `database` perhaps.

Based on my (very limited) knowledge of HCL and the existing structure of Atlas, I think the most concise and simple syntax would be to add an "extensions" attribution at the

[2022-01-30 12:26] rotemtam commented on #518
@ericyd I agree this should be better documented. Do you want to contribute a patch to the docs?

Otherwise, I'll do it this week.

[2022-01-30 18:09] ericyd commented on #518
I'll give it a shot. It might be a couple days before I can get to this though -- if you get to it first that is OK by me

[2022-01-31 07:58] #519 closed

[2022-01-31 14:31] a8m commented on #501
Thanks for opening this issue @jezell. The `DESC` option was added. See https://atlasgo.io/ddl/sql#index

[2022-01-31 14:31] #501 closed

[2022-01-31 14:44] a8m commented on #527
Hey @ivanvanderbyl 👋, I'm glad to see you here.

Partial indexes are going to be supported soon. In addition to that, we also plan to allow passing custom `CREATE TABLE ..` to unblock users from using features that are not yet supported by atlas. e.g.

[code]

[2022-01-31 22:28] ivanvanderbyl commented on #527
Thanks @a8m, that would be really useful. Is there a roadmap I can potentially help contribute to?

[2022-01-31 22:43] ericyd commented on #518
I'm looking into this more and realizing I don't fully understand the issue.

Why is it that Postgres requires disabling SSL, but MariaDB and MySQL handle it just fine? I don't see anything indicating special SSL keys/certs for the MySQL/MariaDB connections. It's easy enough to say "add `?sslmode=disable`" but I don't really like recommending that without understanding the reason that it's differe

[2022-02-01 19:42] ericyd commented on #518
I see now -- it is literally just a discrepancy in the libpq implementation

https://github.com/lib/pq/blob/8446d16b8935fdf2b5c0fe333538ac395e3e1e4b/ssl.go#L19-L20

I'll submit a PR for some doc updates and more discussion can happen there if desired

[2022-02-01 20:21] krilor commented on #518
I just now took atlas for a spin for the first time. Using postgres in a local docker container. This SSL error message was the only hiccup/bump in the road. +1 for adding it to the docs so that it is less likely that others experience the same.

Excited to see what this tool can do for my workflow :)

[2022-02-02 07:13] rotemtam commented on #518
@krilor,

thanks for the feedback @krilor, and welcome!
you can find the maintainers and a bunch of people from the community hanging out in our [Discord Server](https://discord.com/invite/QhsmBAWzrC)

@ericyd - yep you nailed it. I want to add a bit on the design choice to delegate the parsing of DSN to the drivers.
I'm a big fan of orthogonal design - that is - striving to build components in a

[2022-02-02 19:45] JoeyMckenzie commented on #510
Following up on this. Currently [working on this in my fork](https://github.com/JoeyMckenzie/atlas/blob/master/cmd/action/merge.go) as I'd love for this functionality to be included in the CLI. Design ideas as follows:
- Users can define partial definition files with some sort of conventionalized file extension (`.atlas.hcl`) so we know it's specifically an HCL file atlas can understand (`my_parti

[2022-02-02 19:59] rotemtam commented on #510
Hey @JoeyMckenzie !

Thanks for contributing to this discussion. We are touching here on decisions that would have immense impact on the project - basically the modularization mechanism for the DDL. We need to factor many things here, including our future plans of having projects deal with multiple databases in a single data topology. In addition we are working on a versioned migrations workflow (

[2022-02-02 20:53] megalan247 opened #545 "MySQL - Atlas fails to inpect schema when a column is specified as an unsigned float"
It seems that when you create a column in mysql with an unsigned float, Atlas cannot parse its precision in sql/mysql/convert.go and throws a lovely error message like below:

Error: mysql: parse precision "unsigned"

[2022-02-02 21:55] rotemtam commented on #545
hey @megalan247 ,
thanks for reporting this!
note that [MySQL docs](https://dev.mysql.com/doc/refman/8.0/en/numeric-type-syntax.html) state:

However, Atlas should definitely support this for the versions that do. We will work on a fix and update here.

[2022-02-03 00:58] jezell commented on #500
Yep. That's it :)

[2022-02-03 20:15] #545 closed

[2022-02-03 20:19] masseelch commented on #545
Hey @megalan247, I just merged a PR to fix this. Please try again with the latest master.

Don't hesitate to reach out to us, if you have any more questions.

[2022-02-06 06:53] winebarrel opened #550 "Can I specify the index type?"
Hello,
I'm trying to use atlas with PostgreSQL, but I couldn't figure out how to specify the GIN index in hcl.

For example, inspecting with the following DDL,

[code]

The following hcl will be output

[code]

However, if apply it again, it will change to a btree index.

[code]

Is it possible to specify the index type in hcl?

[2022-02-06 07:49] #518 closed

[2022-02-06 08:15] a8m commented on #550
Hey @winebarrel 👋

The index-type/method option is not supported yet, but we plan to add it soon (hopefully this week). Not sure if the API should use strings or constants, so I appreciate any feedback.

[code]

@masseelch, @rotemtam, @yonidavidson - your thoughts?

[2022-02-06 09:01] rotemtam commented on #550
@a8m i vote for
[code]

[2022-02-09 07:42] shachibista opened #555 "Scrolling is broken in docs"
Hi!

Noticed that the scrolling is broken in the docs pages https://atlasgo.io/cli/getting-started/setting-up . Under Ubuntu 20.04 google chrome version 98.0.4758.80, I cannot scroll to the next page.

[2022-02-09 09:03] yonidavidson commented on #555
Hi @shachibista , thanks for raising the issue.
Can you please just elaborate for me, is the problem that you can't reach the "Next" button?
![image](https://user-images.githubusercontent.com/5472778/153161521-f3927203-968c-4f75-a5d9-4e4f8c44ec45.png)

[2022-02-09 13:01] bodinsamuel opened #557 "Panic when inspecting pg"
Hi team,

Saw the post on HN and wanted to try the tool.
After reading the doc (could be cool to have a simple `brew install`), got to this step:

`atlas schema inspect -d "postgres://postgres:<pwd>@localhost:26432/postgres?sslmode=disable" -w`

But the process crashes with the error `panic: inconsistent map element types`

<details>
  <summary>Click to see stacktrace</summary>

[code]

</details>

[2022-02-09 13:19] yonidavidson commented on #557
Hi @bodinsamuel 👋
Thanks for reporting this issue,
Is there a  simple way for us to reproduce?
Thanks.

[2022-02-09 14:16] a8m commented on #557
Hey @bodinsamuel, can you please check if you get this without the `-w`?

[2022-02-09 14:48] bodinsamuel commented on #557
seems to work without the `-w` it output my schema correctly.
I guess my db as some unexpected keyword, but I can not share the schema since it's company property.

I tried to find a minimum schema to reproduce but seems "random" even though it's probably not ^^
I'll try to dig more

[2022-02-09 15:21] bodinsamuel commented on #557
I think I have reduced down, but not sure why.

`atlas schema apply -d "postgres://postgres:<pwd>@localhost:26432/postgres?sslmode=disable" -f main.hcl`

[code]

[2022-02-09 17:47] rotemtam commented on #557
Thanks for reporting this @bodinsamuel ! Your example
was spot on in helping us triage the issue. Working on a fix now. Will update soon!

[2022-02-09 22:07] yonidavidson commented on #557
Hi @bodinsamuel ,
Thanks again for the  hcl schema, it really helped us solve this issue and a fix  can be found in our latest URL:
[code]

atlas CLI version
[code]

[2022-02-10 16:42] winebarrel commented on #550
https://github.com/ariga/atlas/pull/561 solved my problem!
Thank you! 👍

[2022-02-10 21:35] a8m commented on #550
Hey @winebarrel,
I don't want to be annoying, but I decided to use `type` instead of `using` in the `index` block. See https://github.com/ariga/atlas/pull/563

[code]

I'll update the doc later this weekend. Thanks 🙏

[2022-02-11 00:42] shachibista commented on #555
That is correct, when I try to scroll down I the scroll position is reset to the top.

https://user-images.githubusercontent.com/3925529/153520815-75906d7e-5cf8-4560-b5e1-ee3e70b5b321.mp4

[2022-02-12 23:46] localhosted opened #571 "Generate SQL for schema alterations"
How can we get the generated SQL for each schema change?

I want to use Atlas for merging/diffing diffrent schemas, but not applying the changes directly to the DB. I want the generated migration SQL

[2022-02-13 06:46] rotemtam commented on #571
Hey @localhosted
Thanks for reaching out!
Sure, look at the --dry-run flag on the apply command:

https://atlasgo.io/cli/reference#atlas-schema-apply

Alternatively if you want to see the diff between two databases in SQL, use the schema diff command:

https://atlasgo.io/cli/reference#atlas-schema-diff

HTH

[2022-02-13 08:48] marxus opened #573 "Confusing mixture of CLI --schema flag and DSN"
Hey folks.

came across this behavior (which IMO is confusing) while trying to create a new Schema(DB) using the Atlas CLI

 given my Realm(MariaDB Instance) already contains other schemas and the new schema hcl is
[code]

while doing:
[code]
we receive an error from mysql, this makes sense since the first thing atlas does it to try and connect to the realm using the DSN. example scheme doesn't ex

[2022-02-14 02:06] lealhugui opened #578 "Support for PostgreSQL 9"
Hey all!

Is there any chance to add support for older versions of PostgreSQL (like 9.x)?

I'm willing to send a PR if the possibility exists :)

And keep up the good work!

[2022-02-14 07:09] a8m commented on #578
Hey @lealhugui 👋

PostgreSQL 9.x got to its end of life 3 months ago, and I'm not how common it is. Do you use it?

I can support you with that. Please, feel free to join our [Discord server](https://discord.com/invite/QhsmBAWzrC) and ping me there.

[2022-02-14 12:17] marxus opened #581 "[BUG] multiple schemas that contains tables by the same name raise decoding error."
hey guys,

atlas version 0.3.4 (also appears on 0.3.2)

given the following HCL, which defines 2 schemas, both of them have a table called "some_table"
[code]
[code]
my analysis is that the 2nd definition overrides the 1st definition so "my_key" gets discarded

if i switch the order of the table definitions (placing some_schema_2.some_table  before some_schema_1.some_table) and run again:
[code]
i

[2022-02-14 12:39] marxus commented on #581
btw i'm not sure about HCL interpolation internals. but from working on terraform this is an option on how to avoid this matter
[code]

[2022-02-14 12:49] rotemtam commented on #581
@marxus thanks for reporting this. I'm aware of this issue which results from the way we load symbols into the HCL context for parsing. We will work on this and update

[2022-02-14 13:52] #571 closed

[2022-02-14 21:33] tonybolzan opened #584 "Unsupported MySQL 8 Virtual Generated Columns"
In a MySQL 8 database schema with a table that contains following:
[code]
On running schema inspect
[code]
I receive following error:
[code]

[2022-02-16 16:47] #517 closed

[2022-02-16 16:50] a8m commented on #584
Hey @tonybolzan 👋

Thanks for reporting this. I'm actually working on it and will come up with a design for the HCL syntax and post it here soon.

[2022-02-20 10:51] a8m commented on #584
Hey, I want to get your thoughts on the 2 options:
[code]

[code]
Note that if the `stored` attribute is omitted, it defaults to `VIRTUAL`.

I prefer the second option as it's more explicit and groups the 2 attributes for generated/computed columns in one block.

[2022-02-20 10:56] yonidavidson commented on #584
I agree that the second option is better since it explicitly differed generated from non-generated columns.

[2022-02-20 11:00] masseelch commented on #584
Yes. Second. But `as = "sql(blablabla)", no?

[2022-02-20 11:09] a8m commented on #584
The `check` clause also uses strings without `sql`. We use the `sql` option only in types to skip type-checking.

[2022-02-28 13:28] gedw99 opened #606 "gosec showing various errors."
I dont know if this is checked somewhere else because there is no makefile, but i found the following.

[code]

[2022-02-28 14:18] hedwigz commented on #606
@gedw99 Thanks for opening this issue :)
I opened a PR that fixes this issue and also to mitigate this kind of issue in the future with `gosec`

[2022-02-28 15:09] #606 closed

[2022-03-02 18:13] bodinsamuel opened #614 "Support for partitioned table"
Hey team,

I was wondering if you had on your radar "Table Partitioning" https://www.postgresql.org/docs/14/ddl-partitioning.html
It's currently blocking me a bit and would love it ☺️

Following postgres example

**BY RANGE**
[code]

**BY hash**
[code]

**BY list**
[code]

---

**Alternatives**
[code]

Thanks

[2022-03-03 09:24] bodinsamuel commented on #614
Thinking about an other alternative that might match more the current style

[code]

[2022-03-04 01:58] andyli opened #623 "arm64 builds for linux/mac"
It would be great to have arm64 builds for linux/mac since arm64 machines are getting popular.

[2022-03-04 05:11] rotemtam commented on #623
Hi @andyli !
Thanks for writing. I completely agree, arm64 builds are on our bucket list for the near term. We are constantly adding support to more platforms in our build. For example, you can expect an announcement on an official Docker image in the next release!

R

[2022-03-06 07:22] fishead opened #625 "Default value migration"
Great project.

Default value of string like field can be empty string `""` or `"null"`,  So why check it like this?

https://github.com/ariga/atlas/blob/787354f533c33e1e972070f7878948b739732a6f/sql/internal/sqlx/sqlx.go#L18-L21

I'm not an expert of this, any special consideration?

edit:
After test with my own project and as @a8m [mentioned](https://github.com/ariga/atlas/issues/625#issuecomment

[2022-03-06 07:41] a8m commented on #625
Hey @fishead 👋

It should be fixed. Let me know if you want to contribute and I can guide you, or I can do it later today 🙏

[2022-03-06 07:47] fishead commented on #625
I'm glad to make a PR.

[2022-03-06 08:38] a8m commented on #625
Here's where we handle the default values:
https://github.com/ariga/atlas/blob/master/sql/mysql/inspect.go#L240
https://github.com/ariga/atlas/blob/master/sql/postgres/inspect.go#L181
https://github.com/ariga/atlas/blob/master/sql/sqlite/inspect.go#L141

We should use `defaults.Valid` instead of `sqlx.ValidString`. Just note that I added a commit (sqltest) in https://github.com/ariga/atlas/pull/62

[2022-03-06 08:53] fishead commented on #625
@a8m patch is here https://github.com/ariga/atlas/pull/626, just let me known if it's not appropriate.
You are so friendly in the `ent` community.

[2022-03-06 11:57] a8m commented on #625
Fixed with #626. Thanks a lot @fishead

[2022-03-06 11:57] #625 closed

[2022-03-06 11:59] a8m commented on #614
Hey @bodinsamuel 👋

It's great to see you here again! I can give it a look today or tomorrow morning and will update you.

[2022-03-08 18:14] chriskinsman opened #639 "Add support for Snowflake"
Love to see this great tooling extended to Snowflake

[2022-03-08 18:57] yonidavidson commented on #639
@chriskinsman Hi, are you using snowflake as just a DWH for analytics or also for operational needs?
Would love to hear what are you using with Snowflake (ELT tools, Reverse ETL, ETL, Migration manager, ) and what Atlas can replace/add for your usecases.

[2022-03-08 20:47] chriskinsman commented on #639
Both

We have some data warehousing workloads where we use custom tooling to build the data warehouse.

We have operational workloads however where we would love to maintain the tables using migrations similar to how we maintain our postgres implementations.  Really looking for a declarative way to handle schema changes over the lifecycle of a table.

Looked around and found SchemaMigration for sn

[2022-03-08 21:05] yonidavidson commented on #639
@chriskinsman thanks for the info, have you joined our discord channel  it's a great place to ask questions and get answers quickly.

About the contribution of snowflake db anything specific you need or general guidance?

[2022-03-08 22:27] a8m commented on #639
Hey @chriskinsman 👋

I can work with you on this and we can add the documentation for it along the way. Please, feel free to ping me on our Discord server.

[2022-03-09 15:36] a8m commented on #527
Hey @ivanvanderbyl 👋

Partial indexes were added in the latest version, and you can see its docs [here](https://atlasgo.io/ddl/sql#partial-indexes). However, it was not added yet to ent (it's a new annotation), so you're welcome to contribute it, or wait a few days until I'll add it 😃

I'll be happy to discuss this on our Discord. Feel free to ping me there.

[2022-03-09 15:36] #527 closed

[2022-03-09 20:03] ivanvanderbyl commented on #527
Neat! thanks @a8m

[2022-03-11 13:06] bodinsamuel opened #647 "Support for permissions"
Hey,
(it's me again)

A cool feature that is more or less tied to schema is the User's permissions.
Right now, we can create table and such, but still needs to run granting manually which is a bit error prone.

Minimal API that could fit most DBs:
[code]

**Produces**
[code]

There are plenty more of options, but it could be great and somewhat simple start.
Best regards,

[2022-03-13 07:21] a8m commented on #647
Hey @bodinsamuel 👋

I think this is a really useful feature and already thought about adding it a few weeks ago. I'll come up with a design proposal for it soon and will update you.

Of course, if you're interested in contributing I'll be happy to work with you on it 😎

[2022-03-17 18:15] StevenACoffman opened #657 "Add support for Spanner"
Would love to see support for [GCP spanner](https://cloud.google.com/spanner) to have a better scalability story.

[2022-03-21 20:41] a8m commented on #657
Hey @StevenACoffman 👋
It's great to see you here. We do plan to add support for Spanner, but I don't have a time estimation for it atm. However, as mentioned in https://github.com/ariga/atlas/issues/639#issuecomment-1062283143, I plan to write documentation on how to add a new atlas driver to the project and possibly get help from contributors here.

[2022-03-23 09:27] krhubert opened #666 "Add support for citext"
I think `citext` is such a common extension that it is worth supporting it out of the box. What do you think?
[code]

[2022-03-23 11:19] tprebs opened #667 "Postgres Reverse change missing comma"
I noticed as part of using the new ent versioned migrations that all of the down scripts with column modifications were not adding commas in correctly

Up generates correctly e.g.
[code]

Down has missing commas between each column change
[code]

[2022-03-24 11:17] a8m commented on #667
Closed with #668

Thanks for the contribution 🙏

[2022-03-24 11:17] #667 closed

[2022-03-27 21:10] yonidavidson commented on #465
Hi @kokizzu , have you tried a newer Atlas version? many improvements were made around performance.

Thanks.

[2022-03-30 08:41] zeevmoney commented on #666
Hi @krhubert, thanks for reaching out!

This issue is related to the entimport repo, I'm transferring it.
Next tasks in entimport will be adding support for more field types, but I can't estimate it currently.
If you want to contribute, you are more than welcome, and if you need guidance you can join our [Discord](https://discord.gg/jqxehPVJ) and we will be happy to help.

[2022-03-31 03:54] shaunakv1 commented on #469
Hey @rotemtam  Just checking in. Any further thoughts on this?

[2022-04-04 13:58] amrnt opened #680 "migration: skip dropping constraint if a column is dropped"
cc: @a8m

For down migrations, in postgres, dropping the column is enough.

Right now this is  being generated:

[code]

[2022-04-05 05:30] rotemtam commented on #469
hey @shaunakv1

Please accept my apologies for the late reply. Doing a quick check on a table such as

[code]
I'm able to inspect it:
[code]
Result:
[code]

So it "kinda" works, by using the escape hatch of `sql("string")` which isn't optimal, but means it will probably not block you from working.

We are interested in providing a better story for GIS users. Since the PostGIS API is vast, do you m

[2022-04-06 12:26] sagikazarmark opened #684 "Make the library/cmd separate module"
Currently when atlas is installed as a library it brings a whole bunch of packages with it (cobra -> viper -> rest of the internet) unnecessary for the library usage.

It'd be nice if the library could be kept separate so that the amount of dependencies would be kept at a minimum.

[2022-04-06 14:08] rotemtam commented on #581
hey @marxus,

This issue is solved by recent work we did on supporting qualifiers for tables. You can read about it in the [doc change](https://github.com/ariga/atlas/pull/685/files).

You can get the latest (canary) version of `atlas` using brew:

[code]

Consider a situation where we have two schema `a` and `b`, and both of them contain a table named `users`, with schema qualifiers if you run:
[

[2022-04-06 14:08] #581 closed

[2022-04-07 15:44] calvin2021y opened #688 "apply error"
I use `go get ariga.io/atlas/cmd/atlas` install, try a simple modify. get this error:

[code]

[code]

[2022-04-07 15:47] calvin2021y commented on #688
try the document: https://atlasgo.io/cli/reference

`atlas env` return empty.

[code]

[2022-04-08 06:28] calvin2021y opened #689 "add --result-file=./test.hcl argument into inspect"
It is hard to use pipe when deal with some bash script with docker, add mysqldump like `--result-file=` argument fix the problem.

[2022-04-08 08:13] rotemtam commented on #689
Hey @calvin2021y ,

Thanks for reaching out.

In general, I prefer using the OS API for writing to a file. This is more in line with the spirit of orthogonality that we're trying to build this project upon.

However, engineering is a balancing act between principles and constraints. Do you mind sharing more about your use case? What hardship specifically are you running into ?

Thanks

[2022-04-08 08:17] rotemtam commented on #688
Can you try installing the most recent binaries ?

See: https://atlasgo.io/cli/getting-started/setting-up

If you want to install using go get, use the master branch and not @latest which points to a the latest tagged release from a month ago.

[2022-04-08 14:04] calvin2021y commented on #689
for example, a script like this will quit and print error if atlas return error.

[code]

If you use `docker exec -t atlas atlas schema inspect -u mysql://... -s test > test.hcl`,  the result will end at host dir(not container dir).

It also hard to know if there is some error, because the message not show at console but save into `/tmp/test.hcl`. with `--result-file=/tmp/test.sql` you will see er

[2022-04-09 07:40] a8m commented on #680
Thanks for reporting this @amrnt 🙏

[2022-04-09 09:50] jccguimaraes opened #691 "is AWS Redshift supported?"
Hi 👋🏼

I was just wondering if AWS Redshift is supposed to work with Atlas since if I run

[code]

the connection is made

but doing

[code]

throws the following error `Error: postgres: unexpected number of rows: 0`

Any thoughts? Thanks

[2022-04-09 10:08] rotemtam commented on #691
Hi @jccguimaraes

Thanks for reaching out. Currently Redshift is not supported by Atlas. Atlas should be able to initiate a connection since iirc Redshift supports the pg wire format, but my guess is that the information schema tables are structured differently which is probably why you're seeing that error.

Support for many more databases will come to Atlas this year, can you share information a

[2022-04-09 10:37] jccguimaraes commented on #691
Hi @rotemtam,

Thank you for the reply, so bottom line I was keen on using Atlas to manage our AWS Redshift databases through GitHub Actions or other ways.
We're constantly changing the cluster due to the nature of the project and deploying through Terraform so it would be ideal to have Atlas implemented to being able to manage instead of using a TF provider to do that 😓 .

Hope it clears what is

[2022-04-09 10:56] rotemtam commented on #691
Thanks for the reply. That sounds really cool. Do you mind joining our Discord server? we have some cool things coming this quarter that might be interesting to you.

https://discord.gg/zZ6sWVg6NT

And yes Atlas will be used to manage users and grant permissions and support more traditional "versioned migrations". A terraform integration is also in the works

[2022-04-09 11:38] jccguimaraes commented on #691
of course. thanks

[2022-04-10 10:36] marxus commented on #581
nice, this is actually very elegant way to express it.

[2022-04-12 16:28] calvin2021y commented on #689
any comment ?

[2022-04-13 10:02] #689 closed

[2022-04-15 06:21] a8m opened #709 "proposal: support workspaces/environments"
# Atlas Workspaces _(initial version)_

Hey all! We just started to work on the initial version of Atlas workspaces and I wanted to summarize it here and hear your thoughts about it before we have major progress on it.

## Motivation

There are a few limitation today in Atlas that we want to address:
- Support maintaining an "Atlas schema" on multiple files
- Allow applying the same "Atlas schema"

[2022-04-25 07:33] a8m commented on #584
Hey @tonybolzan and thanks again for opening this issue 🙏

The issue was addressed and was added to our website. Please, update to the latest version to get this feature.
See docs for more info - https://atlasgo.io/ddl/sql#generated-columns

[2022-04-25 07:33] #584 closed

[2022-04-27 05:53] calvin2021y opened #738 "can not create default NULL with timestamp for mysql"
mysql need this SQL for timestamp type:

[code]

without ` DEFAULT NULL`, it will not work.

atlas can not handle this:
[code]

error:
[code]

[2022-04-27 05:57] #688 closed

[2022-04-27 08:48] a8m commented on #738
Hey @calvin2021y and thanks for reporting this issue 👋
Can you share what's the MySQL version you use?

AFAIK, omitting the `DEFAULT` clause is equal to adding it with `DEFAULT NULL`, so removing the `default = null` should solve the issue here. See:

![image](https://user-images.githubusercontent.com/7413593/165479519-74ffef10-a444-40ab-ae18-9da2ef140c1b.png)

![image](https://user-images.githubu

[2022-04-27 11:18] calvin2021y commented on #738
You are right,  I am not check the SQL carefully.

Mysql 5.7.37.

[code]

after create table export to this:
[code]

[2022-04-27 11:18] #738 closed

[2022-04-28 06:21] calvin2021y opened #744 "proposal: add AFTER into ALTER TABLE"
The current  atlas schema apply  change table without keep column order.  Change the SQL into this fix the problem.

[code]

atlas is able to figure out which column it should follow.

Without this fix the synced schema not work for tools and code which relay on  fields order.

[2022-04-28 09:30] suhuaqin opened #746 "How to set templateFormatter's time format？"
The current version number is related to the time zone

ariga.io/atlas/sql/sqltool/tool.go:54
"now": func() string { return time.Now().Format("20060102150405") }

Similar problems in golang-migrate/migrate: https://github.com/golang-migrate/migrate/pull/509

[2022-04-29 10:11] masseelch commented on #746
Hey @suhuaqin, nice to see you here!

One solution is to add your own `Formatter` instead of using the provided ones by `sql/sqltool/tool.go`.

A `Formatter` to use for `golang-migrate/migrate`, that generates the timestamp in UTC can look like the following:

[code]

[2022-04-29 13:13] calvin2021y opened #751 "mysql binary type error"
varbinary is work
[code]

[code]

binary is not work
[code]

[code]

there is no fixed size 32 in SQL.

Test on today master branch.

[2022-05-01 00:44] aleyrizvi opened #755 "v0.3.7 does not contain sqltools"
Hi,
Apologies for stupid question. I am new.

I am trying to follow entgo versioned migration : https://entgo.io/docs/versioned-migrations/#use-a-custom-formatter

However, it is looking for ariga.io/atlas/sql/sqltool for `sqltool.GolangMigrateFormatter`

My code is unable to find this sqltool as it is not available in the recent.

Am I doing something wrong?

[2022-05-01 00:47] aleyrizvi commented on #755
I am able to use it somehow with go get ariga.io/atlas@master that fetched 0.3.8 version but funny I do not see it on github :(

[2022-05-01 05:27] masseelch commented on #755
Hey @aleyrizvi, thanks for your question, they are not stupid!

Atlas (and Ent) can always be used from master branch. If you do `go get <pkg>@master` in Go, it will generate a version number for master from the commit hash, that is why you see v0.3.8 even though we haven't released it yet.

Also, 0.3.7 was released before there was `sqltool` package. You did everything right by fetching master.

[2022-05-01 14:41] a8m commented on #751
Hey @calvin2021y 👋
Thanks for reporting this issue. The fix should be simple.

Would you like to contribute this fix to Atlas? I can support you on our [Discord server](https://discord.gg/zZ6sWVg6NT), but if not that's also fine, I can handle this later today or tomorrow.

[2022-05-02 04:29] #755 closed

[2022-05-06 13:10] bodinsamuel opened #776 "Versioned "providers""
Hello again,

I did not find any reference to it in the opened issue, but let met know if this has already been discussed.

Since Atlas follow a lot the Terraform concepts, I think it might be valuable to add some kind of versioning in the file.
[code]

## Why?

**Ensures **consistency** across dev env**
One dev could upgrade its local packages and produce a different plan without knowing it

**Re

[2022-05-11 03:25] achew22 opened #785 "Support for `CockroachDB`?"
When I attempt to connect to CockroachDB, I get the error:

[code]

I presume this is because `to_regclass()` is unsupported by Cockroach at this time. Is there any plan to support CockroachDB?

[2022-05-11 08:01] hilakashai commented on #785
Hey @achew22, thanks for reaching out!
Currently CockroachDB is unsupported, but @hedwigz is working on it as we speak and should be coming out soon.

[2022-05-11 12:09] statushub-piotr opened #787 "Support for BRIN index"
Hi,
To start I'll say that Atlas looks like a great tool!
However we are using BRIN in few places and it looks like it's not yet supported by Atlas:
[code]
Are there any plans to add support for BRIN indices ?

[2022-05-11 12:24] a8m commented on #787
Hey @statushub-piotr 👋

I can add support for it today and update you when it's ready here or on our [Discord server](https://discord.gg/zZ6sWVg6NT).

[2022-05-11 12:25] statushub-piotr commented on #787
Thanks for super fast response!
Response here is fine.

[2022-05-12 04:39] a8m commented on #787
Closed with https://github.com/ariga/atlas/pull/788.

Please, feel free to reopen the issue if you have any troubles. Thanks 🙏

[2022-05-12 04:39] #787 closed

[2022-05-12 10:40] a8m commented on #614
Closed with latest version. Please, see https://atlasgo.io/ddl/sql#partitions for more info and let me know if something is not working.

I appreciate all the help @bodinsamuel and thanks for the excellent API suggestions.

[code]

[2022-05-12 10:40] #614 closed

[2022-05-12 13:00] bodinsamuel opened #789 "nil pointer: index with function"
Hi,
I wanted to try the new Partitioning but ended up being blocked by another issue.

I have a table that has an index that uses function:
[code]

It throw this
[code]

That could probably be expressed like this but it might be complicated to validate the column name:
[code]

[2022-05-12 13:42] bodinsamuel commented on #789
Forget to say it is happening when inspecting not applying
```atlas schema inspect -d "postgres://<>@localhost:26432/postgres?search_path=public&sslmode=disable" -w```

[2022-05-14 16:06] ofpiyush opened #795 "Inspect of default uuid() generates wrong schema."
### atlas version
[code]

### mariadb --version
[code]

### Steps to reproduce:
* Create database and table with MariaDB
[code]
* Create and read a record
[code]
[code]
* Generate HCL file with `atlas schema inspect`
[code]
[code]

* Note the `"uuid()"`. It'll get interpreted as a string in next step
* Drop the db to be created again
[code]
* Try to apply our generated `.hcl` file.
[code]
[code]
*

[2022-05-14 16:08] a8m commented on #795
Hey @ofpiyush 👋🏻

Thanks for reporting this. I’ll give it a look

[2022-05-14 16:28] ofpiyush commented on #795
@a8m I had a look at the code, it seems like `atlas schema inspect` should generate ```default = sql("(uuid())")``` for `atlas schema apply` to work correctly.

Aside: From consistency POV, if we need to follow the `(func_here())` convention at some places, we should probably always follow it and error out everywhere that's not the case? I'm not familiar with the history here.

[2022-05-14 22:33] rotemtam commented on #789
Hey @bodinsamuel,

Thanks a lot for the detailed info. A few notes:

1. The HCL block you provided really helps, just a quick note that per the [docs on index expressions](https://atlasgo.io/ddl/sql#index-expressions) to use an index expression use:
[code]

2. As we are focused on completely revamping the way the Management UI works in Atlas, we've omitted the UI from the build in [v0.4.0](https:/

[2022-05-14 22:33] #789 closed

[2022-05-15 09:44] markdessain commented on #647
Would be great to see this feature implemented! The result would mean having all database operations in one place rather than having to sync permissions after running apply. e.g. currently I have to do: `atlas schema apply .. && psql --file ...`

+1

[2022-05-15 20:25] ofpiyush opened #803 "Default concat on mysql8 produces HCL that can't be applied"
This issue assumes #795 is resolved.

### MySQL version
Server version: 8.0.19 MySQL Community Server - GPL

### Steps to reproduce
Create db and table.
[code]

inspect to get hcl file
[code]

[code]

[code]

Try creating again from the generated file.
[code]

[code]

[2022-05-15 20:52] #795 closed

[2022-05-15 21:00] a8m commented on #803
![image](https://user-images.githubusercontent.com/7413593/168493508-dc4c9505-b150-4e70-9799-9c53ca168853.png)

Looks like `unescape` (in migrate) worked, but I'll give it more attention tomorrow morning. Let me know if you want to help with this.

Thanks for reporting this 🙏

[2022-05-17 11:06] hedwigz commented on #785
I'll be sharing live progress updates and insights if you guys want to follow along or help :)
https://discord.gg/KvxFZGY2mu (`cockroach-wg` channel)

[2022-05-19 11:35] calvin2021y commented on #751
hi @a8m
Sorry for not to attend to discord server, I still don't have discord account.

Can you give some tips here how to fix this ?

[2022-05-19 16:06] a8m commented on #680
Fixed with #811. Thanks @amrnt 🙏

[2022-05-23 13:46] amrnt commented on #680
@a8m, I tried to change the `StorageKey` of an edge, it will drop and create the `CONSTRAINT` but the order of it will yield to errors as the same issue, the column is removed before the constraint:

[code]

[code]

[2022-05-23 13:48] a8m commented on #680
Hey @amrnt 👋,
What Ent and Atlas versions do you use? Thanks

[2022-05-24 14:35] tux21b opened #821 "Feature: generate DDL from schema.hcl without an active database connection"
We would like to diff a ``schema.hcl`` with an empty state and generate the DDL statements (create table, create index, alter table add foreign key, etc.) assuming an empty MySQL/PostgreSQL/sqlite database.

This would currently solve two use cases for us:

A) We would like to generate the current schema (in SQL syntax) before calling [sqlc](https://github.com/kyleconroy/sqlc) - a static query par

[2022-05-24 19:35] a8m commented on #680
OK, thanks. I'll give it a look tomorrow morning. For renaming, we plan to add an API to detect such changes (avoid drop and add).

[2022-05-26 09:31] masseelch commented on #821
Hey @tux21b,

there is one thing to consider before we add something like this: Atlas does validate the input HCL against the database before creating the DDL. If not working with a dev database will render this step impossible.

Also I wonder, are you aware of the special docker syntax for the dev database? Atlas can spin up an ephemeral docker to use as dev database which will be removed when th

[2022-05-31 02:25] fabricef-p commented on #691
I may be interested also by RedShift support. Looking forward to it

[2022-05-31 09:34] bodinsamuel opened #832 "Index are constantly reapplied"
Hi,

I upgraded to 0.4.1 and I encounter something weird.
Atlas does not seems to get that my index did not change and it tries to recreate them at each run, even without modification.

[code]
![Screenshot 2022-05-31 at 11 27 32](https://user-images.githubusercontent.com/1637651/171142048-85ab3553-2699-4ca9-bfe5-d178958d6652.png)
(cf: ignore the name I was testing partition but it's not related)

[2022-05-31 10:04] a8m commented on #832
Great to see you here again @bodinsamuel 😃

I'll give it a look now.

[2022-05-31 10:54] a8m commented on #832
The bug was introduced with https://github.com/ariga/atlas/pull/715 for single-column indexes. Will send a patch to fix it soon.

[2022-06-07 11:19] hedwigz commented on #785
Hey @matdehaast @achew22 :wave:
The master branch now supports CockroachDB - please give it a go and let us know how it works out for you :)

[2022-06-07 11:19] #785 closed

[2022-06-08 18:21] sudoforge opened #851 "As a user, I'd like the option to get all output formatted as JSON"
When running `atlas` in an environment whose `stdout` is captured and sent to a log store, it would be extremely nice to have the option to force all `atlas` output to be printed in JSON format so that each individual message is collected as an individual log entry, instead of having output broken up over multiple log entries.

[2022-06-08 18:26] a8m commented on #851
Hey @sudoforge 👋

I actually agree with this and think we should support both JSON and template-based formats. I'll talk to @masseelch about it and we'll post here a proper proposal soon.

Do you mind sharing what commands you use, so I can attach here a few examples to my proposal? Thanks 🙏

[2022-06-08 18:37] sudoforge commented on #851
I'm new to `atlas`; one of the engineers I support at `$WORK` is using it; my only exposure has been `atlas schema apply --auto-approve` (for use as an init container prior to starting the relevant application; and after review of course).

[2022-06-16 23:27] achew22 opened #868 "No way to break glass and use not-yet-implemented types"
I was expecting to be able to set the type of a column to a custom SQL expression by using the `sql` command.

But with the input:

[code]

I get the error output:

[code]

The error coming from

https://github.com/ariga/atlas/blob/89197145cc46bd66ba330f01ac18b5e236effb97/sql/postgres/convert.go#L129-L130

However, based on this testcase I would have expected it to work:

https://github.com/ariga/

[2022-06-16 23:27] achew22 commented on #868
I guess I should include that I ran `go install ariga.io/atlas/cmd/atlas@latest` before doing this, and that I'm targeting CockroachDB

[2022-06-17 00:18] achew22 commented on #868
I fiddled with this a little bit more and it seems that while the first apply works. Later applies are unable to read the schema from the DB and give this error.

[2022-06-17 05:10] calvin2021y commented on #751
confirm fixed.

[2022-06-17 05:10] #751 closed

[2022-06-17 07:24] a8m commented on #868
Hey @achew22 👋
Thanks for reporting this. This `interval` type was [partially](https://github.com/ariga/atlas/blob/master/sql/postgres/inspect.go#L256-L258) implemented. I'll finish its support soon (today or at the weekend) and I'll update you.

[2022-06-17 09:26] CuteSmartTiger opened #870 "atlas: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by atlas)"
it is very complicate to upgrade  linux system from CLIBC_2.27 to CLIBC_2.28.
cloud you support CLIBC  verison  lower than 2.28.
this question make less people use this tool，if can solve this problem,more and more people will use this tool

[2022-06-17 09:40] masseelch commented on #870
Hey @CuteSmartTiger, what OS are you using?

Also please, did you try to run of our distributed builds or did you try to compile by yourself? (I guess the former, but I better ask before).

[2022-06-21 08:51] a8m commented on #868
Hey @achew22! Just to let you know that I finished the implementation for `interval` types. We'll release a new version soon, but you can get the latest master version using the following command:

[code]

Closing, but please, let me know if you still need help with it. Thanks 🙏

[2022-06-21 08:51] #868 closed

[2022-06-21 18:16] achew22 commented on #868
Does this mean that if you use `sql("unsupportedtype")` it will work now as well?

[2022-06-21 18:44] a8m commented on #868
The issue was specifically for `interval` types because it was partially implemented. We support user-defined types atm but it's not optimal (i.e. `sql("...")`) and I plan to tackle it after we'll finish the CI support for Atlas. Please, feel free to open an issue if something is not working for you.

[2022-06-22 06:13] rotemtam commented on #868
Hey @achew22
I think what @a8m meant was that the mechanism for unsupported types (ie sql("type")) works, in this edge case, interval wasn't exactly an unsupported type rather an implementation that was missing some detail which is why you ran into this issue.
I've successfully used Atlas with PostGIS types, for example, where Atlas isn't familiar with them so it uses the sql() mechanism to pass t

[2022-06-23 18:07] a8m commented on #868
Hey @achew22, please use atlas@master instead of atlas@latest.

[2022-06-23 18:15] achew22 commented on #868
Ah, that seems to have fixed it. Thanks!

[2022-06-27 23:42] achew22 commented on #832
I think I'm running into this issue still with the following in Cockroach:

[code]

When applied with

[code]

Is that still expected?

[2022-06-28 06:18] a8m commented on #832
Hey @achew22, what happens if you use the`--dev-url` option? See https://atlasgo.io/dev-database#diffing

You can use a local cockroach container for this for the `dev` database.

[2022-06-30 08:59] ndrpnt opened #901 "Support for PostgreSQL arrays in HCL schema definition"
Hi, is it currently possible to define a table with an [array type](https://www.postgresql.org/docs/current/arrays.html) column? If not, do you plan on supporting it? Thanks

[2022-06-30 12:18] rotemtam commented on #901
Hi @ndrpnt
Thanks for reaching out.

Running this on PostgreSQL:
[code]

Inspecting the table with atlas:
[code]
I get:
[code]
As you can see, you can use the `sql()` escape-hatch function for working with types that aren't currently natively supported by Atlas HCL.

HTH

[2022-06-30 12:18] #901 closed

[2022-07-01 04:49] calvin2021y opened #902 "Cassandra and scylladb support"
please consider add  Cassandra and  scylladb CQL support.

[2022-07-01 18:38] rotemtam commented on #902
hey @calvin2021y,

Thanks for writing. Indeed we plan to support non-SQL databases in the future and I agree that Cassandra/ScyllaDB could be good candidates for this expansion. We don't have a clear schedule for this so I'm keeping this issue open to track that.

[2022-07-01 18:42] rotemtam commented on #803
closing as fixed in https://github.com/ariga/atlas/pull/797

[2022-07-02 03:59] ofpiyush commented on #803
@rotemtam I hadn't fixed this one.

Unless you meant another PR, this should still be open.

[2022-07-02 04:24] a8m commented on #803
Thanks @ofpiyush.

I’ll send a patch for this soon.

[2022-07-02 17:26] #803 closed

[2022-07-10 02:05] achew22 opened #928 "`go run ariga.io/atlas/cmd/atlas@master` fails"
When trying to run atlas from master it fails out with the following error.

[code]

Looking at the commit history it looks like you've been messing with that package but I can't figure out how to do a bisect to figure out what commit did it.

[2022-07-10 02:15] achew22 commented on #928
I think I figured out a bisect route:

[code]

Looks like it broke in https://github.com/ariga/atlas/pull/909

[code]

[2022-07-10 15:50] a8m commented on #928
git bisect bad c4867b18d9f89239e0e29de8df8e2cdf3a747f0e
git bisect good c4867b18d9f89239e0e29de8df8e2cdf3a747f0e~100
echo 'exec go run ariga.io/atlas/cmd/atlas@$(git log --pretty=tformat:"%H" -1)' > run.sh
chmod +x run.sh
git bisect run ./run.sh

Beast! 💪
Thanks for reporting this @achew22. I fixed the issue (I added another index.html file to ariga.io to support it). Can you give it another try?

[2022-07-19 13:29] rotemtam opened #964 "unsupported Scan, storing driver.Value type []uint8 into type *time.Time when running migrate apply on MySQL"
Running `atlas migrate apply` a second time on a MySQL database, I get:

[code]

Fixed by adding `&parseTime=1` to the connection URL.

I think a better dev-ex is for Atlas to add this flag for the user implicitly as this flag will just become part of the command (its always needed, and the system breaks without it).

[2022-07-21 16:31] #684 closed

[2022-07-27 14:14] StevenACoffman commented on #785
Hey, quick question, the https://github.com/ariga/atlas#supported-databases currently do not list CockroachDB. Does that indicate support is still in beta, or that it is ready for production use?

[2022-08-01 02:12] chenjpu opened #990 "CRDB Schema Create error"
CRDB version 22.1.5
ent  0.11.1

[code]

[code]

[2022-08-02 12:59] blocka commented on #870
Same issue. I'm using ubuntu 14.04

[2022-08-02 19:17] bichanna opened #999 "How to Install atlas on Debian"
Hi,

I'm trying to install atlas CLI on a Debian (x86_64) computer. However, there's no instruction on how to do so.

Thanks.

[2022-08-02 19:22] #999 closed

[2022-08-02 21:12] rotemtam commented on #999
hey @bichanna
I see you closed the issue so perhaps you found a solution. In any case, for future searches, our [Getting Started](https://atlasgo.io/cli/getting-started/setting-up#install-the-cli) section has instructions on how to install Atlas on different OSs.

In addition, if you want to use Atlas from within a Docker image, use:
[code]

[2022-08-03 01:14] TopherIsSwell opened #1001 "Index Out Of Bounds Error - atlas apply on crafted hcl document"
I'm not sure what causes this or why, but I can consistently get an index OOB panic from a given (apparently valid) HCL doc. I don't know anything about HCL or atlas, but messing around with it I was able to produce this error which seems like it could be a security issue. Even if the HCL doc is invalid, I feel like this should be caught before attempting to index a null array.

This hcl document

[2022-08-03 08:40] rotemtam commented on #1001
hey @TopherIsSwell,
Thanks for reaching out. I will review this and update back.
Just as a side note - HCL documents are not dialect agnostic and so one it is not expected that you will be able to inspect something from SQLite and apply it on MySQL.

[2022-08-03 11:27] rotemtam commented on #964
closed by https://github.com/ariga/atlas/pull/995
thx @a8m

[2022-08-03 11:27] #964 closed

[2022-08-03 15:17] #1001 closed

[2022-08-03 19:31] TopherIsSwell opened #1014 "Valid SQLite schema generates invalid hcl document"
Related to issue #1001 , the hcl document no longer crashes `atlas apply`
However, the offending schema is still valid in sqlite3 and cannot be applied.

The schema appears in Calibre's metadata db and is:
`CREATE TABLE IF NOT EXISTS 'annotations_fts_idx'(segid, term, pgno, PRIMARY KEY(segid, term)) WITHOUT ROWID;`

## Expected Result
one could run `atlas inspect` on a sqlite database and then `at

[2022-08-03 19:32] TopherIsSwell commented on #1001
confirmed this fixes the issue of the overflow.
However, this causes a problem where valid SQLite3 schemas generate invalid HCL documents. See issue #1014 (which is probably a much lower priority issue).

[2022-08-03 19:34] TopherIsSwell commented on #1014
For reference, the generated HCL documented looks like this:
[code]

[2022-08-07 08:14] jrmcpeek opened #1018 "Versioned migration output appears to be incorrect"
We are exploring atlas for database schema management and migrations.

Setting up a toy model with an `atlas.hcl` and a `schema.hcl` as follows:

[code]

[code]

Starting with a fresh database, after running only `CREATE DATABASE db_name;` and `CREATE DATABASE db_name_shadow;`.

I then ran the migration command to generate a diff (`atlas migrate diff --env local --schema public`). This completes s

[2022-08-08 00:21] jrmcpeek opened #1023 "Feature: Ability to create unique constraints, not just unique indexes"
In reviewing the documentation [[1]](https://atlasgo.io/atlas-schema/sql-resources#column), I don't see any way to _create_ a unique constraint for a column through the Atlas HCL for a Postgres database. If I'm missing where this is, happy to be pointed in the right direction.

In searching the repository, I can see it's possible to _inspect_ a database with a unique constraint (https://github.com

[2022-08-08 05:51] rotemtam commented on #1023
Hi @jrmcpeek thanks for the thorough issue!

Unique constraints can be set on Postgres by creating an `index` resource with `unique` set to true.

e.g:

[code]
Applied:
[code]

HTH

[2022-08-08 06:05] rotemtam commented on #928
@achew22 can we close this one?

[2022-08-08 06:19] achew22 commented on #928
I think it's good. Thanks for following up

[2022-08-08 06:19] #928 closed

[2022-08-08 06:20] jrmcpeek commented on #1023
Unless I'm mistaken, that only creates a unique index. What I'm trying to say in the original issue is that there is a difference between unique constraint and unique index, and that a column with a unique constraint _creates_ a unique index.

From an empty database:

[code]

Running `atlas schema inspect --url postgres://user:pass@localhost:5432/db_name?sslmode=disable > schema.hcl` produces the

[2022-08-08 06:29] rotemtam commented on #1023
Thanks for the information. As we dive into this issue, can you explain a bit about the impact of this issue on your use case?

[2022-08-08 06:32] masseelch commented on #1018
Hey @jrmcpeek, thank you for raising this issue and for its detailedness <3

You are correct. I will investigate immediately.

Yes.

And yes.

It indeed looks like the status command does not work like it should. I will investigate and notify you back once I know whats going on.

[2022-08-08 06:39] a8m commented on #1023
Hey @jrmcpeek and thanks for raising up this issue.

I actually thought about supporting this at the start with some syntax similar to [Ent](https://github/ent/ent):

[code]
But then, I decided to not add it even though I saw this message on the mailing list at that time. The reasons are the following:

1. In some databases like MySQL and SQLite it's just a degraded way to create indexes.
2. They

[2022-08-08 06:56] jrmcpeek commented on #1023
For what we are currently doing, there is not an immediate use case need. But see below for capabilities that I've used in the past.

The request - admittedly a "feature request" - since it's probably non-trivial, is based on:

1. Intuitively, it makes sense that a constraint belongs to a column, no different than a nullability constraint.
2. Handling insertion failures based on constraints: https

[2022-08-08 08:13] a8m commented on #1023
Just note that `ON CONFLICT` also supports index column names. Since `UNIQUE` can be defined only on index columns, this has the same effect.

Yeah, I agree. I just wanted to learn the motivation for this, unrelated to Atlas. For Ent, we decided to add `Unique()` for columns because we found it more friendly for our users.

They support the same syntax, but I'm unaware of any schema difference bet

[2022-08-08 08:21] jrmcpeek commented on #1023
This would be fine in my book. Looks like a clean and simple way to add the support (at least from the schema 😄) without the verbosity of adding it to a column block, or outside for multiple columns, or at the index block if you need partials.

With that said, I do like, with indexes, that I can simply do:

[code]

In cases where I don't necessarily care about the name, or where I believe the defa

[2022-08-09 13:50] xin-hao-awx opened #1034 "Auto escape the database url `-u`"
When I using the cli to apply a schema to a database with password which contains special chars,
the cli will throw a URL parse error.
Should we auto escape the url `-u`?

See also https://stackoverflow.com/questions/48671938/go-url-parsestring-fails-with-certain-user-names-or-passwords

[2022-08-09 21:41] ericyd opened #1036 "Bug [postgres]: inspected datatype "enum array" not captured correctly in HCL"
**System**

* **Atlas version:** `v0.5.0`
* **OS**: Mac OS 12.4

**Summary**

Postgres allows column types of an array of enums.

When Atlas inspects a schema containing a column with this datatype, it correctly identifies the column type. However, it fails to recognize that the column type is a user-defined type that needs to be captured as well.

This results in a failure to apply the schema pro

[2022-08-09 21:58] jrmcpeek opened #1037 "Defect: Migrate Status fails after Dry Run"
Failure scenario is as follows:

Setting up a toy model with an `atlas.hcl` and a `schema.hcl` as follows:

[code]

[code]

And the migrations folder contains a single SQL file:

[code]

Starting with a fresh database, after running only `CREATE DATABASE db_name`; and `CREATE DATABASE db_name_shadow`;.

Run `atlas migrate status --env local` and get the following output:

[code]

Run `atlas migrat

[2022-08-09 22:21] jrmcpeek opened #1038 "Feature: Allow environment variables in schema"
We would like to leverage the project capabilities in `atlas.hcl`, using variables to avoid embedding credentials, hosts, etc.

From the documentation, it only appears possible to use this by passing in a `--var` flag. While this works, it can make the commands quite verbose if many flags need to be passed in, which appears to have been a driving reason behind the project file in the first place.

[2022-08-10 03:17] xin-hao-awx commented on #1034
Maybe we can add another approach for the users to input as separate params, such as

[code]

So that we can escape the `password` automatically

[2022-08-10 06:29] a8m commented on #1038
Hey @jrmcpeek 👋
@rotemtam and I actually discussed adding an `env` function a few weeks ago, but another solution I thought about is to use the syntax used by [envsubst](https://github.com/a8m/envsubst#docs). We'll work on a proposal for this and update this issue soon. Thanks

[2022-08-10 06:32] a8m commented on #1036
Hey @ericyd and thanks for reporting this.

I'll handle it soon.

[2022-08-10 08:16] #746 closed

[2022-08-10 08:33] masseelch commented on #1018
@jrmcpeek Quick feedback for you: The latest master has the first and third issue resolved. The second one I will solve today.

[2022-08-10 12:51] masseelch commented on #1037
@jrmcpeek Thank you for taking the time to provide us with such a detailed issue description.

All of the above is fixed on the latest master :blush:

[2022-08-10 12:51] #1037 closed

[2022-08-10 21:18] jrmcpeek opened #1045 "Defect: Migrate diff breaks after running a migration that creates enum types"
Hello again friends 😄.

Setting up a toy model with an `atlas.hcl` and a `schema.hcl` as follows:

[code]

[code]

Starting with a fresh database, after running only `CREATE DATABASE db_name;` and `CREATE DATABASE db_name_shadow;`.

Running `atlas migrate diff --env local --schema public` results in the following:

[code]

Running `atlas migrate lint --env local --latest 1` results in:

[code]

Ru

[2022-08-10 21:24] shaunakv1 opened #1046 "Error: specutil: failed converting to *schema.Realm: sqlspec: table not found"
Issue:

We are in process of developing a new database and I am trying out atlas as tool to apply schema changes made on local server over to a deployment postgres server.

I keep getting this error:

` Error: specutil: failed converting to *schema.Realm: sqlspec: table "geoid_models" not found `

It has nothing to do with that specific table. If I remove that table from schema, error just moves o

[2022-08-11 04:32] rotemtam commented on #1045
Hey @jrmcpeek !
V0.5.0 is almost a month old, can you try with the latest release ? A lot has changed internally in migrate diff recently

https://atlasgo.io/cli/getting-started/setting-up#install-the-cli

In general, master is well tested and stable, we use version tags for announcements mostly. Internally we always use latest

[2022-08-11 05:14] jrmcpeek commented on #1045
@rotemtam I can surely test this against the master branch, if you believe this issue is addressed.

However, I have concerns about updating a CI/CD pipeline with an untagged / "latest" version.

How should something like that be handled?

[2022-08-11 05:24] jrmcpeek commented on #1045
I performed the steps above with the following version:

[code]

Calling back to my previous message - I have trouble reconciling **canary** and **tested and stable**.

Running `atlas migrate diff --env local --schema public` results in the following:

[code]

Running `atlas migrate apply --env local` works as expected.

I then make a change to the schema file:

[code]

And then run `atlas migrate

[2022-08-11 05:34] jrmcpeek commented on #1018
Appreciate the update. Since I was grabbing the latest canary release to check #1045, I rechecked here and can confirm that the first and third cases appear good as of 30b4018.

[2022-08-11 06:06] masseelch commented on #1046
Hey @shaunakv1. Thank you for raising this issue. I will have a look at it immediately.

Please, can you provide me the output of `atlas version`?

[2022-08-11 07:22] masseelch commented on #1046
Hey @shaunakv1,

in order to have a reference cross schema boundaries, you have to use [table qualifiers](https://atlasgo.io/atlas-schema/sql-resources#table-qualification) and reference the table in the foreign keys like mentioned [here](https://atlasgo.io/atlas-schema/sql-resources#referencing-qualified-tables).

One example, for a schema-cross foreign key setup:

``hcl
table "public" "users" {

[2022-08-11 10:40] #1018 closed

[2022-08-11 12:46] #1046 closed

[2022-08-11 13:38] rotemtam commented on #1034
Hi @xin-hao-awx,

As the command accepts a URL, the standard way for dealing with odd characters is using URL encoding, see IETF [RFC 1738](https://www.rfc-editor.org/rfc/rfc1738), (see section 2.2) which defines URLs formally. I don't think Atlas should encode the URL for the user as this is a one-time operation (e.g doesn't change unless the password itself changes).

[2022-08-11 13:38] #1034 closed

[2022-08-11 18:01] shaunakv1 commented on #1046
@masseelch  Thank you for a quick response and the fix!!

Question: When this fix expected to be go out in a release?

I don't want to be pushy, but we are trying to use it in a automatic "schema sync" setup (temporarily)  using our CI/CD and having to manually intervene in the schema.hcl is sub-optimal.

[2022-08-11 18:10] a8m commented on #1046
Hey @shaunakv1 👋🏻
We’ll release v0.6.0 later today or tomorrow morning.

[2022-08-11 18:11] a8m commented on #1046
BTW, master is built and distributed 2 times a day 😎

[2022-08-11 20:16] shaunakv1 commented on #1046
@a8m  @masseelch  you folks are awesome! Thanks much!

[2022-08-15 20:39] #1045 closed

[2022-08-16 09:41] masseelch commented on #870
Hey @CuteSmartTiger and @blocka. Our distributed builds are compiled on Ubuntu 20.04, which has a new version of `GLIBC` than the distros you use.
You can either compile the binary yourself from GitHub or update your distribution.

In the meantime I will evaluate, if we can support prior versions of Linux.

[2022-08-17 02:32] shaunakv1 commented on #1046
@masseelch @a8m  So I tested the new release, and it indeed adds the qualifiers like explained in the documentation and in the comments above. However it still doesn't "apply" the schema to a new server and throws errors like these:

at lines where foreign keys are defined. As I comment out the cross schema FKs it simply moves on to the next one throwing error like below.

Error: ./src/db/schema.h

[2022-08-17 04:24] masseelch commented on #1046
Hey! Can you send me the HCL you try to apply? If it's the above, it needs to be updated to contain the qualifiers.

[2022-08-20 10:19] fenos opened #1071 "Row level security policies"
Hello!

I would love to see [RLS ](https://www.postgresql.org/docs/current/ddl-rowsecurity.html) added to Atlas!
I currently make a lot of use of them, especially when using Supabase!

The proposal would be to have the following spec:

[code]

- `row_level_security (bool)` would allow us to enable / disable RLS on the table
- `policy` would be an object that represents the policy rules. There can

[2022-08-20 10:43] fenos opened #1072 "Stored Procedure & Triggers"
Stored procedures are widely used in the SQL community. By supporting them we could unlock many more use cases for atlas!

A proposal I have in mind is the following:

[code]

[2022-08-23 05:37] rotemtam commented on #1071
Hey @fenos
Thanks for the thorough suggestion. RLS (and more Postgres capabilities) are definitely on our mind. We are still deliberating what’s the best way to extend the drivers in a modular way.  Keeping this issue open for tracking.

[2022-08-23 14:03] chenrui333 opened #1090 "About the latest release"
It looks like the latest release still points to 0.6.0, shall 0.6.3 get marked as the latest release? Thanks!

relates to https://github.com/Homebrew/homebrew-core/pull/108315

[2022-08-23 21:15] jrmcpeek opened #1093 "Issue: Failed status check due to null column in atlas_schema"
Attempting to check the migration status of a database or perform a dry run throws an error related to the atlas_schema_revisions table:

[code]

Current state of the table:

[code]

Potentially related to #1037, as the above migrations would have been performed using v0.5.0

-----
Tool versions:

[code]

[2022-08-24 04:58] lallenfrancisl opened #1094 "versioned migration throwing syntax error when creating functons in mariadb"
[code]

This code throw syntax error at line 4 when running migration from the sql file.

atlas version: v0.6.0-f064262-canary
mariadb version:

[2022-08-24 06:23] a8m commented on #1094
Hey @lallenfrancisl and thanks for reporting this issue.

Currently, the way to achieve this is by setting an Atlas pragma on the top of the file to configure the delimiter used for scanning the statements in the file. For example, the following file will be scanned as one statement because the `atlas:delimiter` is configured but it's not used.

[code]

In the next example, we use the `atlas:delim

[2022-08-24 06:25] a8m commented on #1093
Hey @jrmcpeek and thanks for reporting this 👋

I'll give it a look and will update this issue.

[2022-08-24 06:28] a8m commented on #1036
Hey @ericyd 👋

I forgot to update you that the issue was resolved 2 weeks ago. Thanks for reporting this and please let me know if you still face any problems with it 🙏

[2022-08-24 06:28] #1036 closed

[2022-08-24 06:30] rotemtam commented on #1090
Hi @chenrui333,

0.6.1-0.6.3 are all patches so we didn't want to make a big announcement about them. When we create a release in GitHub our followers are notified so we want to not be spammy by creating noise multiple times a week.

Hope this makes sense.

[2022-08-24 06:30] #1090 closed

[2022-08-24 06:46] masseelch commented on #1093
I am pretty sure this happened because our migration tool does not migrate its own table :face_in_clouds:

[2022-08-24 07:27] a8m commented on #555
Hey @shachibista 👋

We upgraded the [Docusaurus](https://docusaurus.io/) version and I hope it will solve the issue. Closing this as we are not able to reproduce this, but feel free to reopen it if you still face any problems with it. Thanks 🙏

[2022-08-24 07:27] #555 closed

[2022-08-24 07:42] masseelch commented on #1093
@jrmcpeek, please try the latest master :-) Sorry for the inconvenience!

[2022-08-24 09:32] masseelch commented on #485
Same issue here #870

[2022-08-24 09:52] masseelch commented on #870
As a workaround, please use our docker image instead of the distributed binary. You can alias the command like this `alias atlas="docker run --rm arigaio/atlas:latest"` and then simply use the docker like you would use the atlas binary `atlas schema inspect -u sqlite://file.db`

[2022-08-24 09:52] #870 closed

[2022-08-24 09:53] #485 closed

[2022-08-24 09:57] masseelch commented on #510
With the recent release of [Atlas configuration files](https://atlasgo.io/atlas-schema/projects) this issue can be closed. if you think it is not, feel free to re-open this.

[2022-08-24 09:57] #510 closed

[2022-08-24 22:31] jrmcpeek commented on #1093
@masseelch Moved the problem to the next column that changed, it looks like:

[code]

[2022-08-26 10:35] masseelch commented on #1093
@jrmcpeek I am sorry for this. I added a default value to all of the column and added a test to detect cases like this in the future.

[2022-08-27 17:43] lallenfrancisl commented on #1094
Thanks @a8m for the reply. Yes I didn't realise that from their documentation that this thing is only for their command line. For other SQL noobs like me I am just putting another solution here too. The delimiter thing is not actually needed in sql and this is enough
[code]

[2022-08-29 01:06] lallenfrancisl commented on #1094
@a8m the solution you proposed still does not work, it will start to throw error at the place where DELIM is used
[code]

[code]

[2022-08-29 01:21] lallenfrancisl commented on #1094
Seems there was some issue since the pragma wasn't at the top so moved it top but got empty query error now
[code]

[code]

[2022-08-29 05:50] a8m commented on #1094
Hey @lallenfrancisl, it looks like the Atlas delimiter conflicts with the MySQL DELIMITER keyword.

Please, update to the latest master and checkout the docs on how to use a different delimiter instead (e.g. \n\n\n): https://atlasgo.io/versioned/new#custom-statements-delimiter

I also added a few additional examples to our tests, you can see them here: https://github.com/ariga/atlas/tree/master/sq

[2022-08-29 05:56] a8m commented on #1094
Another point that I think can be added to the docs is that the DELIMITER keyword is not needed when interacting with the server directly (not the MySQL CLI). See https://dev.mysql.com/doc/refman/8.0/en/stored-programs-defining.html

[2022-08-29 07:18] #1093 closed

[2022-08-29 07:35] lallenfrancisl commented on #1094
Yeah but I think the driver needs it, not working without it

[2022-08-29 08:08] a8m commented on #1094
Hey @lallenfrancisl 👋
Can you please provide an example to reproduce this? I just ran the following example on the **master version** and it worked:

Migration file:
[code]

`atlas migrate apply` output:

[code]

MySQL status:
[code]

As I mentioned above, I think the `DELIMITER` is not something the MySQL server understands and is used only by the CLI.

[2022-08-29 08:50] lallenfrancisl commented on #1094
I will give you an example to reproduce this in the evening, sorry should have put it here in the beginning

[2022-08-29 08:54] a8m commented on #1094
No worries, and sorry for the inconvenience 🙏🏻

[2022-09-04 11:33] hsblhsn opened #1123 "Error: sql/schema: create "atlas_schema_revisions" table: pq: relation "atlas_schema_revisions" already exists"
Can not apply migration anymore.

When running this command
[code]

I am getting `Error: sql/schema: create "atlas_schema_revisions" table: pq: relation "atlas_schema_revisions" already exists` this error.

[2022-09-04 12:13] a8m commented on #1123
Hey @hsblhsn and sorry for the inconvenience.
Do you run the migration on a specific schema or the entire database (if the `search_path` is empty or not)? Also, do you run multiple applications on the same database? Because I think https://github.com/ariga/atlas/pull/1120 should solve this issue if that's the case, or passing the schema-name as the `--revision-schema`.

[2022-09-04 13:14] hsblhsn commented on #1123
This is the atlas version currently in use.

[code]

No, I do not have multiple application running on the same database. And I am running the migration for the entire database. This is the migration files generated by ent.

[code]

And I am trying to apply it by calling `atlas migrate` and getting the error below:

[code]

Thank you so much for the quick response.

[2022-09-04 13:18] hsblhsn commented on #1123
FIXED!

After downgrading to `atlas` version `v0.6.0`, the problem got **fixed**. 😕

So, I guess something is going wrong or breaking in the upcoming release.

My previous installation was with `brew install ariga/tap/atlas`. It installs the canary version. When I uninstalled it and downloaded `atlas v0.6.0` from the release page, the issue got fixed. No more error.

[code]

Strange 🕵️

[2022-09-04 13:56] masseelch commented on #1123
Hey @hsblhsn, thank you for reporting this and sorry for the mess.

I am happy you are unblocked :blush:, though we always aim for the best experience possible and rolling back is not that, I am sorry.

The new release changes the default behavior for the schema history table, but it is not merged yet, though yeah, it is a little strange. I will investigate and notify you back, once I have elimina

[2022-09-04 15:00] yonidavidson opened #1125 "Learn how to build Terraform provider using the new framework"

[2022-09-04 15:01] yonidavidson opened #1126 "Learn how to use terraform as a user with the current Atlas Provider"

[2022-09-04 15:01] yonidavidson opened #1127 "Design the migration from the old to the new Terraform SDK/framework for atlas provider"

[2022-09-04 15:01] yonidavidson opened #1128 "Implement the new Terraform provider based on framework"

[2022-09-05 07:35] masseelch commented on #1123
Hey @hsblhsn, I was able to reproduce your issue:

Create existing project with v.0.6.0:

[code]

Confirm latest release shows your issue:

[code]

However, the PR I am about to merge, does fix the issue:

[code]

I will close this issue, if you continue to have problems, please re-open and I will do my best to help.

[2022-09-05 07:35] #1123 closed

[2022-09-05 08:24] masseelch commented on #1123
Some more context:

Previous to the changes made in [this PR](https://github.com/ariga/atlas/pull/1108/files#diff-64a455fde41235dd02bec791f701d15f090c2003cb39fe20373bd0152189d6bc) Atlas operated on two different connections for migration execution (actual migration and revision history). Since in that case we don't have the atomicity of the database connection any more (important for transactions)

[2022-09-27 21:06] ericyd commented on #520
old issue and not sure I'll ever get around to submitting a PR for it, but wanted to mention that I learned that in Postgres at least, extensions **are** actually tied to a schema. My above comment was incorrect, and I think that would greatly simplify the HCL as `extensions` could just become a property on the appropriate schema. I still think an array/list/set is probably the simplest option for

[2022-10-09 03:41] unknowingknow opened #1183 "Can I download atlas cli with specifying patch version for linux?"
When to use `atlas` as [versioned migrations](https://entgo.io/docs/versioned-migrations) of `ent`,  it is used as a cli and a package.
I want to match the cli version with the package version. The latest version managed by `go module` is `v0.7.2` now, so I want to download the cli with `v0.7.2`

I have checked the following ways.

- docker
    - `0.7.2` tag is not found.
- release path
    - `htt

[2022-10-09 11:15] a8m commented on #1094
Closing, as this issue was resolved a long time ago. Note that we also added support for the `DELIMITER` keyword used by MySQL client, see https://atlasgo.io/versioned/new#using-the-delimiter-command-used-by-mysql-client.

Feel free to reopen it if you still have troubles with it, and you're also welcome to join our [Discord community](https://discord.gg/zZ6sWVg6NT).

[2022-10-09 11:15] #1094 closed

[2022-10-10 10:13] leowmjw opened #1185 "<Bug>: Table attached to declarative partition becomes hidden"
Version
[code]

Table with constraint can be created by Atlas.  However, once table is attached as per docs --> https://www.postgresql.org/docs/current/ddl-partitioning.html#DDL-PARTITIONING-DECLARATIVE
[code]

it now does not see it anymore:
[code]

Maybe an expansion of the HCL for declarative partition:
[code]

as it is expected to show no difference.

[2022-10-10 14:30] amrnt opened #1186 "Atlas <> Custom postgres domain type"
(discussed on Discord)

cc: @a8m

Saying, I have a domain as son

[code]

and my id field in ent looks like so:

[code]

Now when I generate the migrations:

[code]

As noticed in the generated SQL, Atlas digged deeper into `pxid` and grabbed its type instead of using `pxid` as a type.

[2022-10-11 12:19] a8m opened #1187 "sql/postgres: add USING attribute to ModifyColumn to control type-conversion"
See: https://github.com/ent/ent/issues/3002

[2022-10-11 13:03] a8m commented on #1183
Hey @unknowingknow, and thanks for raising this issue.
The `atlas` and `cmd/atlas` modules are separated because we don't want to bring all CLI dependencies to the Atlas runtime packages (`ariga.io/atlas`). Therefore, the module hashes may be different, mainly because we don't release a CLI version the same as we update the `ariga.io/atlas` in Ent.

However, this should not be an issue because the

[2022-10-11 13:03] #1183 closed

[2022-10-11 16:03] #1186 closed

[2022-10-12 23:09] rightisleft opened #1195 "Whats the status of the management UI?"
Whats the status of the management UI?

https://atlasgo.io/ui/intro

[2022-10-13 10:49] a8m commented on #1195
Hey @rightisleft, and thanks for reaching out.

We decided to remove the management UI from the released binary a few months ago for a few technical reasons - I can elaborate if you're interested, but the TL;DR is that I believe the Atlas engine and the management UI should be separated.
Also, from my discussions with multiple users, I found out that all of them are interested in the ERD component

[2022-10-13 10:49] #1195 closed

[2022-10-22 12:11] shyim opened #1224 "Always tries to create a database with 0.8.0"
I want to manage my database from PlanetScale and atlas tries to create always a new database.

I just run:

[code]
or watch the Planet Scale Tutorial video which does the same https://www.youtube.com/watch?v=UBnEPk2Wbcg

0.8.0 fails with

[code]

0.7.0 works

[code]

[2022-10-22 12:27] masseelch commented on #1224
Hey @shyim, thank you for reporting this. I will send a fix soon and notify you here once it is fixed.

We will trigger a patch release after.

[2022-10-22 13:06] #1224 closed

[2022-10-26 03:05] crossworth commented on #500
Hello @jezell, I think this feature was added a few days back:
Please, check https://github.com/ariga/atlas/pull/1133 and https://atlasgo.io/guides/postgres/included-columns

[2022-10-26 05:16] a8m commented on #500
I think we can close it then. Thanks, @crossworth.

[2022-10-26 05:16] #500 closed

[2022-10-31 08:51] chokoGtr opened #1250 "How to spin up an ephemeral local docker container with specify the db??"
It was mentioned that ephemeral docker is available for local execution of `atlas migrate lint`.
https://atlasgo.io/concepts/url

I want to spin up an ephemeral local docker container with specify the db.
Like `mysql://user:pass@localhost:3306/database`.
Is there any way to specify the db?

[2022-10-31 19:53] rotemtam commented on #1250
Hi @chokoGtr,

Thanks for reaching out!

I'm not sure I understand your question, but if I understand correctly, you're asking how to specify the engine for the ephemeral docker container used as a dev db?

There are some examples on the page you linked to:

<img width="976" alt="Screen Shot 2022-10-31 at 21 51 01" src="https://user-images.githubusercontent.com/1522681/199098065-12d6abb4-91ad-4347

[2022-10-31 22:51] tatablack opened #1252 "Document how CLI commands use project files"
The documentation about [project files](https://atlasgo.io/atlas-schema/projects#project-files) does not mention explicitly whether all CLI commands are aware of the project file (`atlas.hcl`), or only some of them.

For example, while `atlas schema apply` seems to read the project file, I've found that `atlas schema diff` seems to ignore it.
Thread on Discord with @a8m [here](https://discord.com/

[2022-11-01 07:21] #1250 closed

[2022-11-01 07:44] a8m commented on #1250
Issue was fixed with #1253.

[2022-11-02 05:56] jrmcpeek opened #1254 "Unexpected schema migration interactions"
I ran into the following issue while working on a database schema change. Generally, we use versioned migration for our differences.

Currently, when we set up a new database for development, we issue the following command:

[code]

This does its thing and bootstraps the database with a straight-to-greatest schema.

This completes successfully. To be sure, running it a second time gives me:

[code

[2022-11-02 19:40] a8m commented on #1254
Hey @jrmcpeek, and thanks for the detailed issue.

The behavior is expected because the two commands represent two different workflows. State-based and versioned-based migrations.

However, you can replace `schema apply` with `migrate apply` (without `N`) to replay all migration files, or set up the `--baseline` flag to the latest version in case you used `schema apply` before.

[2022-11-02 21:04] rotemtam commented on #1254
Just to add to @a8m 's answer, re:

We completely understand this point and are planning to add some cool way to "compact" history in a way that's compatible with Atlas (update the sum file, interoperate with the revisions table cleanly) in the near future.

[2022-11-02 22:18] #1254 closed

[2022-11-07 13:52] linuxluigi opened #1269 "Nil pointer error when running atlas schema clean on Postgres"
Hey I'm new to atlas and I really like it so far. You did a real go job here 🤩

When running `atlas schema clean --url postgres://USER:PASSWORD@HOST:5432/DB?sslmode=disable` I always into a nil pointer error:

[code]

I tried to run it against an empty Postgres database & with a filled database with `atlas migrate apply`.
The connection string works quite fine with other atlas commands.

For me, i

[2022-11-07 13:55] a8m commented on #1269
Thanks for reporting this, and sorry for the inconvenience, @linuxluigi.

I'll give it a look soon and will update this issue 🙏

[2022-11-07 15:18] #1269 closed

[2022-11-07 15:31] linuxluigi commented on #1269
Wow, thank you a lot for solving it so fast ❤️

[2022-11-08 07:39] #1252 closed

[2022-11-08 17:01] a8m commented on #709
Closed with https://atlasgo.io/atlas-schema/projects.

[2022-11-08 17:01] #709 closed

[2022-11-09 21:21] morganleroi opened #1278 "Multi src schema in project configuration file"
Hello !

I'm using the atlas version `v0.8.2-42b597d-canary` (using Brew)

I probably miss something but I do not succeed to use the [project configuration file](https://atlasgo.io/atlas-schema/projects) with an array of `src`.

In my folder, I have two `.hcl` files describing my two schemas. In this folder I also have my `atlas.hcl` file that describes my env

[code]

When I try to apply
[code]

[2022-11-10 08:34] #1278 closed

[2022-11-10 09:27] morganleroi commented on #1278
Will do ! I still have an issue when trying to create a FK references another schema.

[2022-11-15 07:55] ancs21 opened #1286 "Bug: Scan error on column index 4, name "REFERENCED_TABLE_NAME": converting NULL to string is unsupported"
Hi @a8m ,

[code]

Thanks.

[2022-11-15 12:35] dnascimento commented on #691
I'm also interested on the support for Redshift

[2022-11-16 14:27] Vesquen opened #1290 "Feature: multi-tenant support for declarative migrations"
I'm delighted to see atlas is working on multi-tenancy support.
After following this [tutorial/blog post](https://atlasgo.io/blog/2022/10/27/multi-tenant-support), I tried creating a similar setup where I use the declarative flow instead of the described versioned flow.

Using the for_each statement in env blocks results in a `multiple envs found for "<env_name>"` error. As there is no mention of

[2022-11-16 14:30] a8m commented on #1290
Hey @Vesquen! We can support it for the declarative workflow. Can you elaborate on how (and where) you execute the migration? Do you use `--auto-approve` in this case?

[2022-11-16 14:38] Vesquen commented on #1290
Hi @a8m.
Thanks for the quick response.

The setup was based on the one in the blog post (see below). I tried executing `atlas schema apply --dry-run --env local`. I did prepare multiple schemas in the database.

atlas.hcl:

[code]

mytable.hcl:

[code]

[2022-11-17 17:44] ancs21 commented on #1286
Hi @a8m,

Thank you for your effort.

Maybe I copied the wrong error from another case
[code]

I'm really sorry about that. This issue is in another case, I'll check again later.
Thanks.

[2022-11-17 23:41] alexlobanov commented on #691
And we are also really interested for Redshift support :)

[2022-11-18 13:21] a8m commented on #1286
Hey @ancs21, can you elaborate on why you inspect (using `-s`) only the `competition_dev` schema? Because this schema depends on other schemas. `sports_store_db` in this case.

[2022-11-18 14:35] ancs21 commented on #1286
hi @a8m,
Sure, we had multi-database on mysql host, I need  to export schema for every database. The original design had some case index will reference to another database.

Could we ignore that when run inspect? or Could we export all database same time? Because I can't delete that relations. Thanks/

[2022-11-18 15:05] rotemtam commented on #1286
hey @ancs21 ,

the `-s` flag can accept multiple schemas for inspection. so you could run something like:
[code]

Would that work?

[2022-11-21 01:31] rupurt commented on #647
@bodinsamuel really love the suggested API. Feels very natural to me!

[2022-11-24 12:18] lsjostro commented on #1023
I think we also need this as I'm trying to migrate a pg schema to atlas hcl. The `schema inspect` generates nicely but one table fails to create due to foregin keys references to multiple columns and fires a uniqueness constraint error.

[code]

error I get after trying to apply this into a fresh DB:
`got error: create "foo" table: pq: there is no unique constraint matching given keys for referenc

[2022-11-24 12:24] a8m commented on #1023
Hey @lsjostro! Would you mind pasting here the tables that caused this failure? `psql` output is great.

[2022-11-24 12:36] lsjostro commented on #1023
![image](https://user-images.githubusercontent.com/500754/203786038-9cac59cd-3ada-4961-b791-fd29fa512492.png)

error I get applying the exported HCL schema

`got error: create "usr_game" table: pq: there is no unique constraint matching given keys for referenced table "gameusr"`

[2022-11-24 12:40] a8m commented on #1023
Thanks! I'll try to reproduce this and update you 🙏

[2022-11-24 13:12] a8m commented on #1023
Hey @lsjostro, I created this schema but couldn't reproduce it locally. This happens to you because Atlas tries to create `usr_game` table, including its FKs, but gets an error because there's no unique index on the `gameusr` table - it's not because of the missing `unique` definition.

I expect Atlas to create the `gameusr` table with its indexes before the `usr_game` is created, and the operatio

[2022-11-24 13:22] lsjostro commented on #1023
Cheers @a8m! Thanks for quick reply!  Tried with altas-cli now and it work.. so I guess it's a bug in the atlas terraform provider then?!

[2022-11-24 13:23] a8m commented on #1023
I guess so. The version may be old there. I'll talk to @giautm, and we'll handle this on Terraform. Thanks 🙏

[2022-11-24 13:26] lsjostro commented on #1023
I'm using v0.8.1 on the cli and terraform provider is the latest 0.4.0 release.

[2022-11-24 13:29] lsjostro commented on #1023
seems like an old version according to https://github.com/ariga/terraform-provider-atlas/blob/master/go.mod#L6

[2022-11-24 13:30] a8m commented on #1023
Thanks for the help, @lsjostro 🙏

[2022-11-26 00:07] macdonsp opened #1313 "sql/postgres: 'tstzrange' data type is not supported"
I was doing some testing with the following schema:

[code]

Running a schema apply the table can be created:

[code]

Re-running the same apply yields the following error:

[code]

I am running the current version of atlas as installed with `go install ariga.io/atlas/cmd/atlas@master`

[2022-11-27 15:08] a8m commented on #1286
Hey @ancs21, let me know if I can close this issue.

[2022-11-27 15:09] a8m commented on #1313
Thanks for reporting this, @macdonsp 🙏

I'll give it a look now.

[2022-11-28 04:39] ancs21 commented on #1286
Yes. I have fixed the issue. Thank you!

[2022-11-28 04:39] #1286 closed

[2022-11-28 07:08] #1313 closed

[2022-11-28 16:55] macdonsp commented on #1313
@a8m That's great. Thank you so much for the quick fix for this!

[2022-11-29 14:51] adpande opened #1317 "Table inheritance"
Suppose I have some fields that I want to have in all my tables. I can declare those once and then I can inherit them in other tables.

[code]

Is this supported? This is a good feature.